<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="#"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Algotrader server dashboard" />
        <meta name="msapplication-tap-highlight" content="no">
        <title>{% block page_title %}{{ config.APP_NAME }}{% endblock %}</title>
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
<!--        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='scrolling/assets/favicon.ico') }}">
        <!-- Core theme CSS (includes Bootstrap)-->
<!--        <link href="css/styles.css" rel="stylesheet" />-->
        <link rel="stylesheet" href="{{ url_for('static', filename='scrolling/css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/app_styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/arch_ui.css') }}">
        <link href="{{ url_for('static', filename='styles/base_app.scss') }}">

    <!--    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" />-->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/semantic.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-icons/css/pe-icon-7-stroke.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-icons/css/helper.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

        <link class="main-page-styles" rel="stylesheet" href="{{ url_for('static', filename='styles/mainpage.css') }}">

        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    </head>
    <body style="background-image: url({{ url_for('static', filename='images/main/background.png') }}); background-size: cover;">
        <div id="dpi" style="height: 1in; width: 1in; left: 100%; position: fixed; top: 100%;"></div>
        <div id="page-top">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
                <div class="container">
<!--                    TODO: width mobile-->
                    <a class="navbar-brand" href="/" style="width: 50%;">
                        <img class="logo-img" style="width: 30%;" src="{{ url_for('static', filename='images/Logos_New/logo_transparent_background.png') }}">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span><i class="bars icon text-secondary"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item p-3">
                                <a href="https://t.me/Algotrader_signals"  target="_blank" class="nav-link text-end">
                                    <i class="fab fa-telegram-plane pr-1"></i>
                                    Telegram
                                </a>
                            </li>
                            <li class="nav-item p-3 mobile-hidden">
                                <a href="/account/subscriptions" class="nav-link text-end">
                                    <i class="fas fa-dollar-sign pr-1"></i>
                                    Pricing
                                </a>
                            </li>
                               {% if current_user.is_authenticated %}
                                <li class="nav-item p-3">
                                    <a href="/account/manage/info" class="nav-link text-end fw-bold">
                                        <i class="fa fa-user-circle pr-1"></i>
                                        {% if session['admin_as'] %}
                                        <span class="text-danger pr-2">Admin as </span>
                                        {% endif %}
                                         {{current_user.first_name}} {{current_user.last_name}}
                                    </a>
                                </li>
                                <li class="nav-item p-3">
                                    <a href="/account/logout" class="nav-link text-end fw-bold">
                                        <i class="fa fa-sign-out pr-1"></i>
                                        Log Out
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-item p-3">
                                    <a href="/account/login" class="nav-link text-end fw-bold">
                                        <i class="fa fa-sign-in pr-1"></i>
                                        Log In
                                    </a>
                                </li>
                                <li class="nav-item p-3">
                                    <a href="/account/subscriptions" class="nav-link text-end fw-bold">
                                        <i class="fa fa-user-plus pr-1"></i>
                                        Register
                                    </a>
                                </li>
                                {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% block content %}

            {% endblock %}

<!--            &lt;!&ndash; Footer&ndash;&gt;-->
<!--            <footer class="py-5 bg-dark">-->
<!--                <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>-->
<!--            </footer>-->
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script type="text/javascript" src="{{ url_for('static', filename='scrolling/js/scripts.js') }}"></script>
        <script src="https://kit.fontawesome.com/9e19a61416.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/base.js') }}"></script>

    </body>
</html>