{% extends 'mainpage/layout.html' %}
{% block page_title %}
Stock Score | LogIn
{% endblock %}
{% import 'macros/form_macros.html' as f %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block header %}
{% include 'mainpage/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    {% macro render_flashes(class) %}
            {% with msgs = get_flashed_messages(category_filter=[class]) %}
            {% for msg in msgs %}
            <div class="ui {{ class }} message" data-autohide="5">
                <i class="close icon"></i>
                {{ msg }}
            </div>
            {% endfor %}
            {% endwith %}
            {% endmacro %}
    <div class="flashes">
        {{ render_flashes('error') }}
        {{ render_flashes('warning') }}
        {{ render_flashes('info') }}
        {{ render_flashes('success') }}
    </div>
    <div class="login-container">
        <div class="login-grid">
            <h2 class="">Log in</h2>

            {% set flashes = {
            'error': get_flashed_messages(category_filter=['form-error']),
            'warning': get_flashed_messages(category_filter=['form-check-email']),
            'info': get_flashed_messages(category_filter=['form-info']),
            'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
            {{ f.render_form_field(form.email) }}
            {{ f.render_form_field(form.password) }}
            <div class="two fields">
                <div class="remember-me">
                    {{ f.render_form_field(form.remember_me, extra_classes='column') }}
                </div>
                <div class="forgot-password">
                    <a class="menu__link" href="{{ url_for('account.reset_password_request') }}">Forgot password?</a>
                </div>
            </div>

            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

            {{ f.render_form_field(form.submit) }}
            <div class="or-container">
                <div class="line-separator"></div>
                <div class="or-label">or</div>
                <div class="line-separator"></div>
            </div>
            <div class="field social-field">
                <a class="btn-google" href="/account/google_login"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Log In With Google</a>
            </div>
            <div class="terms-agree">
                * Clicking the Login button You accept or <a href="/station/terms_of_use/en" target="_blank" class="menu__link">Terms of Use</a> and <a href="/station/privacy_policy/en" target="_blank" class="menu__link">Privacy Policy</a>
            </div>
            {{ f.end_form(form) }}
        </div>
    </div>
</div>
{% endblock %}

