{% extends 'mainpage/layout.html' %}
{% block page_title %}
Algotrader | Reset Password
{% endblock %}
{% import 'macros/form_macros.html' as f %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block header %}
{% include 'mainpage/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container">
        <div class="login-grid">
            <h2 class="">Reset your password</h2>
            {{ f.render_form(form) }}
        </div>
    </div>
</div>
{% endblock %}
