{% extends 'mainpage/layout.html' %}
{% block page_title %}
Algotrader | Subscriptions
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/subscriptions.css') }}">
{% endblock %}

{% block header %}
{% include 'mainpage/header.html' %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="subscriptions" id="subscriptions">
        <div class="subscriptions__wrap wrap">
            <div class="subscriptions__row row subscriptionsItems">
                {% for s in subscriptions %}
                <div class="subscriptionsItems__col subscriptionsItems__item">
                    <div class="subscriptionsItems__title">{{s.subscription_name}}</div>
                    {{s.description|safe}}
                    <div class="subscriptionsItems__footer">
                        {% if current_user.is_anonymous %}
                        <a href="{{url_for('account.register', subscription=s.id)}}"
                           role="button"
                           class="btn-transition btn registration {% if s.id == 3 %} disabled {%endif%}">
                            {{s.price}}
                        </a>
                        {% else %}
                        <a href="{{url_for('account.change_subscription', id=s.id)}}"
                           role="button"
                           class="btn-transition btn registration {% if s.id == 3 %} disabled {%endif%}">
                            {% if s.id == 3 %}
                            {{s.price}}
                            {% elif s.id == user_subscription %}
                            Current Plan
                            {% elif s.id < user_subscription %}
                            Downgrade
                            {% else %}
                            Upgrade
                            {%endif%}
                        </a>
                        {% endif %}
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripting %}

{% endblock %}