{% extends 'layouts/main.html' %}
{% block page_title %}
Algotrader | Subcriptions
{% endblock %}

{% block content %}

<div class="row subscription-page">
    {% for s in subscriptions %}
    <div class="col-md-4">
        <div class="mb-3 card text-white">
            <div class="card-header">{{s.subscription_name}}</div>
            <div class="card-body">
                {{s.description|safe}}
            </div>
            <div class="card-footer">

                <a href="{{url_for('account.register', subscription=s.id)}}"
                   role="button"
                   class="mb-2 mr-2 btn-transition btn registration {% if s.id == 3 %} disabled {%endif%}">
                    {{s.price}}
                </a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>

{% endblock %}