{% extends 'layouts/base.html' %}
{% block page_title %}
Algotrader | Stock Info
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/ticker_info.css') }}">
{% endblock %}

{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="left-part">
                <div>
                    <a class="ticker-web" target="_blank" href="{{candidate.website}}">
                        <div class="page-title-heading">
                            <div>
                                <img src="{{candidate.logo}}" style="height:60px;padding-right: 10px;">
                            </div>
                            <div>
                                {{candidate.ticker}}
                                <div class="page-title-subheading">
                                    {{candidate.company_name}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <div>
                        <div class="mt-2 mr-2 badge {{bg_upd_color}} badge-pill">Last Update(UTC) :
                            {{last_update}}
                        </div>
                    </div>
                </div>
                <div class="ticker-score">
                    <div class="bage-score {{score_bg}}">
                        <span class="badge badge-pill badge-light">{{market_data.algotrader_rank}}</span>
                        <div class="score-title">Score</div>
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div>
                    <div title="Volatility of a stock in relation to the overall market. 12M" class="ticker-data mt-2 mr-2 badge {% if market_data.beta is not none and user_settings.algo_min_beta is not none and market_data.beta >= user_settings.algo_min_beta %}
                    btn-success
                    {% else %}
                    btn-warning
                    {% endif %}">Beta
                        <span class="badge badge-pill badge-light">{{market_data.beta | round(1)}}</span>
                    </div>
                </div>
                <div>
                    <div title="Lower than cheapest analyst prediction" class="ticker-data mt-2 mr-2 badge {% if market_data.under_priced_pnt is not none and user_settings.algo_min_underprice is not none and market_data.under_priced_pnt >= user_settings.algo_min_underprice %}
                    btn-success
                    {% else %}
                    btn-warning
                    {% endif %}">Underpriced
                        <span class="badge badge-pill badge-light">{{market_data.under_priced_pnt}}</span>
                    </div>
                </div>
                <div>
                    <div title="Todays good entry point. Based on 1 last year intraday volatility" class="ticker-data mt-2 mr-2 badge btn-success">Buying trigger
                        <span class="badge badge-pill badge-light">{{market_data.buying_target_price_fmp | round(1)}}</span>
                    </div>
                </div>
            </div>

            <div class="page-title-actions">
                <table class="mb-0 table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">Exchange:</th>
                            <td>{{candidate.exchange}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Sector:</th>
                            <td>{{candidate.sector}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Industry:</th>
                            <td>{{candidate.industry}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Personal List:</th>
                            <td class="text-center">
                                {% if not in_list %}
                                <button type="button" class="btn btn-outline-info add-candidate">Add</button>
                                {% else %}
                                <button type="button" class="btn btn-outline-success candidate-in-list disabled">
                                    <i class="metismenu-icon fa fa-check"></i>
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row">
            <div id="container" style="width:100%; height:400px;"></div>
            <div>
                <script> var ticker = '{{ candidate.ticker }}'; </script>
                <script> var user_email = '{{ current_user.email }}'; </script>
                <script> var hist_dates = {{ hist_dates|tojson }}; </script>
                <script> var hist_algo_ranks = {{ hist_algo_ranks|tojson }}; </script>

            </div>
        </div>
        <div class="row">
            <canvas id="myChart" style="width:100%; height:400px;"></canvas>

        </div>
        <div class="divider mt-0" style="margin-bottom: 30px;"></div>

        <div class="row">
            <div class="col-lg-6">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">INFO</h5>
                        <div class="scroll-area-sm">
                            <div class="scrollbar-container ps--active-y ps">
                                {{ candidate.full_description }}
                                <div class="ps__rail-x" style="left: 0px; bottom: -160px;">
                                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps__rail-y" style="top: 160px; height: 200px; right: 0px;">
                                    <div class="ps__thumb-y" tabindex="0" style="top: 32px; height: 40px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">WHY</h5>
                        <div class="scroll-area-sm">
                            <div class="scrollbar-container ps--active-y ps">
                                {{ candidate.reason }}
                                <div class="ps__rail-x" style="left: 0px; bottom: -160px;">
                                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps__rail-y" style="top: 160px; height: 200px; right: 0px;">
                                    <div class="ps__thumb-y" tabindex="0" style="top: 32px; height: 40px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">SPECS</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Sector: {{candidate.sector}}</li>
                            <li class="list-group-item">Industry: {{candidate.industry}}</li>
                            <li class="list-group-item">Exchange: {{candidate.exchange}}</li>
                            <li class="list-group-item">Av. daily drop: {{market_data.yahoo_avdropP|round(1, 'floor')}}
                                %
                            </li>
                            <li class="list-group-item">Av. daily spread:{{market_data.yahoo_avdropP|round(1, 'floor')}}
                                %
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
{% block scripting %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
        integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/snp_graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/spyder_project.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/ticker_info.js') }}"></script>
{% endblock %}
