{% extends 'layouts/base.html' %}
{% block page_title %}
Algotrader | Stock Info
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<!--title row-->
<div class="row">
    <div class="col">
        <div class="card mt-lg-4 mb-3">
            <div class="bg-holder d-none d-lg-block bg-card" >
            </div>
            <div class="card-body position-relative">
              <div class="row">
                <div class="col-lg-8">
                  <h3>Ticker information</h3>
                  <p class="mb-0">same as now</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mb-1">
            Chart
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-1">
            Similar companies
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-1">
            Company info
        </div>
    </div>
</div>

{% endblock %}
{% block scripting %}
{% endblock %}
