{% extends 'layouts/base_old.html' %}
{% block page_title %}
Stock Score | Stock Info
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/ticker_info.css') }}">
{% endblock %}

{% block content %}
<div class="app-main__inner ticker-info">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-logo">
                <div class="page-title-heading">
                    <div>
                        <img src="{{candidate.logo}}" style="height:60px;padding-right: 10px;">
                    </div>
                    <div>
                        {{candidate.ticker}}
                        <div class="page-title-subheading">
                            {{candidate.company_name}}
                        </div>
                    </div>
                </div>
                <div>
                    <div class="mt-2 mr-2 badge {{bg_upd_color}} badge-pill">Last Update(UTC) :
                        {{last_update}}
                    </div>
                </div>
                <div>
                    <div class="mt-1 ml-2"><a class="ticker-web menu__link article-link" target="_blank" href="{{candidate.website}}">Go to website</a></div>
                </div>
            </div>

            <div style="display: none" id="ticker-info-modal"></div>

            <div class="page-fmp-data">
                <div class="div-content">
                    <div class="fmp-price-content">
                        Price: <span class="fmp-price text-primary"></span>
                    </div>
                    <div class="fmp-change-content">
                        Change: <span class="fmp-change"></span>
                    </div>
                    <div class="fmp-close-content">
                        Last Close: <span class="fmp-last-close"></span>
                    </div>
                    <div class="fmp-pne-eps">
                        <div class="help-cursor">
                            P/E <i class="fas fa-info-circle info-icon pl-1 pr-1 jb-tooltip-info jb-info-4" data-tooltip-id="4"></i> <span class="fmp-pe font-weight-bold"></span>
                        </div>
                        <div class="help-cursor">
                            EPS <i class="fas fa-info-circle info-icon pl-1 pr-1 jb-tooltip-info jb-info-3" data-tooltip-id="3"></i> <span class="fmp-eps"></span>
                        </div>
                    </div>
                </div>
                {% include 'layouts/loader.html' %}
            </div>
            <div class="page-market-data">
                <div class="bage-score {{score_bg}}">
                    <span class="badge badge-pill badge-light">{{market_data.algotrader_rank}}</span>
                    <div class="score-title">Score</div>
                </div>
                <div class="market-data-actions">
                    <div title="Volatility of a stock in relation to the overall market. 12M" class="help-cursor ticker-data mt-2 mr-2 badge {% if market_data.beta is not none and user_settings.algo_min_beta is not none and market_data.beta >= user_settings.algo_min_beta %}
                        btn-success
                        {% else %}
                        btn-warning
                        {% endif %}">
                        Beta
                        <span class="badge badge-pill badge-light">
                            {% if market_data.beta is not none%}
                            {{market_data.beta | round(1)}}
                            {% else %}
                            0
                            {% endif %}
                        </span>
                    </div>
                    <div title="Lower than cheapest analyst prediction" class="help-cursor ticker-data mt-2 mr-2 badge {% if market_data.under_priced_pnt is not none and user_settings.algo_min_underprice is not none and market_data.under_priced_pnt >= user_settings.algo_min_underprice %}
                        btn-success
                        {% else %}
                        btn-warning
                        {% endif %}">
                        Underpriced <span class="badge badge-pill badge-light">{{market_data.under_priced_pnt}}</span>
                    </div>
                    <div title="Todays good entry point. Based on 1 last year intraday volatility" class="help-cursor ticker-data mt-2 mr-2 badge btn-success">
                        Buying trigger <span class="badge badge-pill badge-light">{{market_data.buying_target_price_fmp | round(1)}}</span>
                    </div>
                </div>
            </div>
            <div class="page-ticket-info">
                <div class="ticker-exchsnge ticket-info-row">
                    <div class="ticket-info-title">Exchange:</div>
                    <div class="ticker-sector-val ticket-info-val" data-sector="{{candidate.exchange_short}}">{{candidate.exchange_short}}</div>
                </div>
                <div class="ticker-sector ticket-info-row">
                    <div class="ticket-info-title">Sector:</div> <div class="ticker-sector-val ticket-info-val" data-sector="{{candidate.sector}}">{{candidate.sector}}</div>
                </div>
                <div class="ticker-industry ticket-info-row">
                    <div class="ticket-info-title">Industry:</div> <div class="ticket-info-val">{{candidate.industry}}</div>
                </div>
                <div class="ticker-action ticket-info-row">
                    <div class="ticket-info-title">Personal List:</div>
                    <div class="ticket-info-val div-content">
                        {% if not in_list %}
                        <button type="button" class="btn btn-outline-info add-candidate">Add</button>
                        {% else %}
                        <button type="button" class="btn btn-outline-success candidate-in-list">
                            <i class="metismenu-icon fa fa-check">Remove from list</i>
                        </button>
                        {% endif %}
                    </div>
                    {% include 'layouts/loader.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row ticket-chart">
            <div class="col-lg-12">
                <div class="main-card mb-1 card">
                    <div class="card-body">
                        <div id="container" style="width:100%; height:380px;"></div>
                        <div>
                            <script> var hist_data = '{{ hist_data|tojson }}'; </script>
                            <script> var ticker = '{{ candidate.ticker }}'; </script>
                            <script> var company_name = '{{ candidate.company_name }}'; </script>
                            <script> var user_email = '{{ current_user.email }}'; </script>
                            <script> TOOLTIPS = {{ tooltips|tojson }}; </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider mt-0" style="margin-bottom: 30px;"></div>
        <div class="row ticket-info-tabs">
            <div class="col-lg-12">
                <div class="mb-1 card">
                    <div class="card-header card-header-tab-animation">
                        <ul class="nav nav-justified">
                            <li class="nav-item">
                                <a data-toggle="tab" href="#tab-fundamentals" class="nav-link show active">
                                    Fundamentals
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#tab-news" class="nav-link show">
                                    News
                                </a>
                            </li>
<!--                            <li class="nav-item">-->
<!--                                <a data-toggle="tab" href="#tab-analysts" class="nav-link show">-->
<!--                                    Analysts-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a data-toggle="tab" href="#tab-social" class="nav-link show">-->
<!--                                    Social-->
<!--                                </a>-->
<!--                            </li>-->
                            <li class="nav-item">
                                <a data-toggle="tab" href="#tab-insiders" class="nav-link show">
                                    Insiders
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#tab-press-relises" class="nav-link show">
                                    Press Relises
                                </a>
                            </li>
<!--                            <li class="nav-item">-->
<!--                                <a data-toggle="tab" href="#tab-technical" class="nav-link show">-->
<!--                                    Technical-->
<!--                                </a>-->
<!--                            </li>-->
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane show active" id="tab-fundamentals" role="tabpanel">
                                <div class="main-card mb-3 card">
                                    <div class="card-body tab-fundamentals-summary-card" style="position: relative;">
                                        <div class="card-header">
                                            Fundamentals (12 Month)
                                        </div>
                                        <div class="div-content row pt-2"></div>
                                        {% include 'layouts/loader.html' %}
                                    </div>
                                </div>
                                <div class="main-card mb-3 card">
                                    <div class="card-body tab-fundamentals-feed-card row" style="position: relative;"></div>
                                </div>
                            </div>
                            <div class="tab-pane show" id="tab-news" role="tabpanel">
                                <div class="main-card mb-3 card">
                                    <div class="card-header">
                                        Last articles:
                                        <div role="group" class="btn-group-sm btn-group btn-group-toggle ml-5" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input class="news-btn" type="radio" name="options" data-limit="10" id="option1" autocomplete="off" checked="">
                                                10
                                            </label>
                                            <label class="btn btn-primary">
                                                <input class="news-btn" type="radio" name="options" data-limit="20" id="option2" autocomplete="off">
                                                20
                                            </label>
                                            <label class="btn btn-primary">
                                                <input class="news-btn" type="radio" name="options" data-limit="50" id="option3" autocomplete="off">
                                                50
                                            </label>
                                            <label class="btn btn-primary">
                                                <input class="news-btn" type="radio" name="options" data-limit="100" id="option4" autocomplete="off">
                                                100
                                            </label>
                                        </div>
                                    </div>
                                    <div class="card-body tab-news-card" style="position: relative;">
                                        <div class="div-content" ></div>
                                        {% include 'layouts/loader.html' %}
                                    </div>
                                </div>
                            </div>
<!--                            <div class="tab-pane show" id="tab-analysts" role="tabpanel">-->
<!--                                <p>-->
<!--                                    srddddddddddddddddddddddddddddddd-->
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div class="tab-pane show" id="tab-social" role="tabpanel">-->
<!--                                <p>-->
<!--                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a-->
<!--                                type specimen book. It has-->
<!--                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.-->
<!--                                </p>-->
<!--                            </div>-->
                            <div class="tab-pane show" id="tab-insiders" role="tabpanel">
                                <div class="main-card mb-3 card">
                                    <div class="card-body tab-insiders-card" style="position: relative;">
                                        <div class="div-content" ></div>
                                        {% include 'layouts/loader.html' %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane show" id="tab-press-relises" role="tabpanel">
                                <div class="main-card mb-3 card">
                                    <div class="card-body tab-press-relises-card" style="position: relative;">
                                        <div class="div-content" ></div>
                                        {% include 'layouts/loader.html' %}
                                    </div>
                                </div>
                            </div>
<!--                            <div class="tab-pane show" id="tab-technical" role="tabpanel">-->
<!--                                <p>-->
<!--                                    errrrtjgkikikikikikikikikikikikikikikikikiki-->
<!--                                </p>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripting %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
        integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/snp_graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/spyder_project.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/ticker_info.js') }}"></script>
{% endblock %}
