{% extends 'layouts/base.html' %}

{% block content %}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-albums icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>TODAY
                    <div class="page-title-subheading">Market State
                    </div>
                </div>
            </div>
            <div id="today_emotion_box" class="ui left last-item item">
                <input type="hidden" id="user-emotion" value={{user_fgi}}>
                <div class="widget-content-outer">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left pr-2 fsize-1">
                            <div class="widget-numbers mt-0 fsize-2 text-{{fgi_text_color}}">
                                {{ market_emotion.fgi_value}}
                            </div>
                        </div>
                        <div class="widget-content-right w-100">
                            <div class="progress-bar-sm progress-bar-animated-alt progress emotion-progress-bar">
                                <div class="progress-bar bg-{{fgi_text_color}}" role="progressbar" aria-valuenow="{{ market_emotion.fgi_value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ market_emotion.fgi_value }}%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content-left fsize-1 market-emotion">
                        <div class="text-muted opacity-10 ">Market Emotion</div>
                        <div class="text-muted opacity-2 emotion-update-time">{{ market_emotion.score_time.strftime("%d %b, %Y %H:%M:%S") }}</div>
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div>
                    <div class="mb-2 mr-2 badge badge-info">EST:  {{ current_est_time }}</div>
                </div>

                <div>
                    <div class="mb-2 mr-2 badge badge-info">US market:  {{ trading_session_state }}</div>
                </div>
                <div>
                    <div class="mb-2 mr-2 badge {{ bg_upd_color }}"  data-toggle="tooltip" data-placement="bottom" title="Market Data last update">Upd:  {{ last_update_date }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row today-cards">
        <div class="col-md-3 improovers">
            <div class="mb-3 card">
                <div class="card-header">Today  Improovers</div>
                <div class="card-body">
                    <table class="mb-0 table improovers-tbl">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Company</th>
                                <th>Score</th>
                                <th>Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in today_improovers[:5] %}
                            <tr>
                                <td class="text-center"><img src="{{ i.logo }}" width="20" height="20"></td>
                                <td>
                                    <a href="{{url_for('candidates.info')}}?ticker_to_show={{ i.ticker }}">
                                        {{ i.ticker }}
                                    </a>
                                    <div class="text-small">{{i.company_name}}</div>
                                </td>
                                <td class="text-center">{{i.last_rank}}</td>
                                <td class="text-center">{{i.change_val|round(2)}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <span class="text-primary pr-1 pl-2 link font-weight-bold show_improovers_modal">
                        View All
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 personal-list">
            <div class="mb-3 card">
                <div class="card-header">PERSONAL  LIST</div>
                <div class="card-body">
                    <table class="mb-0 table personal-tbl">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Company</th>
                                <th>Score</th>
                                <th>Sector</th>
                                <th>Underprice(%)</th>
                                <th>12M Momentum</th>
                                <th>Beta</th>
                                <th>Max Intraday Drop %</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in candidates[:5]| sort(attribute='ticker') %}
                            <tr>
                                <td class="text-center"><img src="{{ i.logo }}" width="20" height="20"></td>
                                <td>
                                    <a href="{{url_for('candidates.info')}}?ticker_to_show={{ i.ticker }}">
                                        {{ i.ticker }}
                                    </a>
                                    <div class="text-small">{{i.company_name}}</div>
                                </td>
                                <td class="text-center">{{market_data[i.ticker].algotrader_rank}}</td>
                                <td class="text-small">{{ i.sector }}</td>
                                <td class="text-center">
                                    {% if market_data[i.ticker].under_priced_pnt is none %}
                                        0
                                    {% else %}
                                        {{market_data[i.ticker].under_priced_pnt|round(2)}}
                                    {%endif %}
                                </td>
                                <td class="text-center">
                                    {% if market_data[i.ticker].twelve_month_momentum is none %}
                                        0
                                    {% else %}
                                        {{market_data[i.ticker].twelve_month_momentum|round(2)}}
                                    {%endif %}
                                </td>
                                <td class="text-center">
                                    {% if market_data[i.ticker].beta is none %}
                                        0
                                    {% else %}
                                        {{market_data[i.ticker].beta|round(2)}}
                                    {%endif %}
                                </td>
                                <td class="text-center">
                                    {% if market_data[i.ticker].max_intraday_drop_percent is none %}
                                        0
                                    {% else %}
                                        {{market_data[i.ticker].max_intraday_drop_percent|round(2)}}
                                    {%endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer justify-content-between">
                    <span class="text-primary pr-1 pl-2 link font-weight-bold show_personal_modal">
                        More
                    </span>
                    <button type="button" id="btnAddCandidate" class="btn btn-primary">
            Add Candidate
        </button>
                </div>
            </div>
        </div>
        <div class="col-md-3 signals">
            <div class="mb-3 card">
                <div class="card-header">TELEGRAM SIGNALS TODAY</div>
                <div class="card-body">
                    <table class="mb-0 table signals-tbl">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Company</th>
                                <th>Price</th>
                                <th>Target</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in signals[:5] %}
                            <tr>
                                <td class="text-center"><img src="{{ i.logo }}" width="20" height="20"></td>
                                <td>
                                    <a href="{{url_for('candidates.info')}}?ticker_to_show={{ i.ticker }}">
                                        {{ i.ticker }}
                                    </a>
                                    <div class="text-small">{{i.company_name}}</div>
                                </td>
                                <td class="text-center">
                                    {{i.signal_price|round(2)}}
                                </td>
                                <td class="text-center">
                                    {{i.target_price|round(2)}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <span class="text-primary pr-1 pl-2 link font-weight-bold show_signals_modal">
                        More
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="ui menu">
            <div class="ui left search item">
                <div class="ui transparent icon input">
                    <input id="search-users" type="text" placeholder="Stock">
                    <i class="search icon"></i>
                </div>
            </div>
<!--            <div id="emotion_box" class="ui left last-item item">-->
<!--                <input type="hidden" id="user-emotion" value={{user_fgi}}>-->
<!--                <div class="widget-content-outer">-->
<!--                    <div class="widget-content-wrapper">-->
<!--                        <div class="widget-content-left pr-2 fsize-1">-->
<!--                            <div class="widget-numbers mt-0 fsize-2 text-{{fgi_text_color}}">-->
<!--                                {{ market_emotion.fgi_value}}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="widget-content-right w-100">-->
<!--                            <div class="progress-bar-sm progress-bar-animated-alt progress emotion-progress-bar">-->
<!--                                <div class="progress-bar bg-{{fgi_text_color}}" role="progressbar" aria-valuenow="{{ market_emotion.fgi_value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ market_emotion.fgi_value }}%;"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="widget-content-left fsize-20 market-emotion">-->
<!--                        <div class="text-muted opacity-10 ">Market Emotion</div>-->
<!--                        <div class="text-muted opacity-2 emotion-update-time">{{ market_emotion.score_time.strftime("%d %b, %Y %H:%M:%S") }}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <input type="hidden" id="user_email" value="{{ user.email }}">

        <div class="divider mt-0" style="margin-bottom: 30px;"></div>
        {% if admin_candidates|length != 0 %}
        <div class="admin-candidates" style="overflow-x: scroll;">
            <div class="page-title-subheading">
                ALL CANDIDATES:
            </div>
            <table class="ui searchable sortable unstackable selectable celled table admin-candidates-tbl">
                <thead>
                <tr>
                    <th></th>
                    <th>Company</th>
                    <th>Score</th>
                    <th>Sector</th>
                    <th>Underprice(%)</th>
                    <th>12M Momentum</th>
                    <th>Beta</th>
                    <th>Max Intraday Drop %</th>
                </tr>
                </thead>
                <tbody>
                {% for m in admin_candidates | sort(attribute='ticker') %}
                <tr>
                    <td><img src="{{ m.logo }}" width="20" height="20"></td>
                    <td>
                        <a href="{{url_for('candidates.info')}}?ticker_to_show={{ m.ticker }}">
                            {{ m.ticker }}
                        </a>
                        <div class="text-small">{{m.company_name}}</div>
                    </td>
                    <td>
                        {% if market_data[m.ticker].algotrader_rank is none %}
                        0
                        {% else %}
                        {{market_data[m.ticker].algotrader_rank}}
                        {% endif%}
                    </td>
                    <td>{{m.sector}}</td>
                    <td class="text-center">
                        {% if market_data[m.ticker].under_priced_pnt is none %}
                        0
                        {% else %}
                        {{market_data[m.ticker].under_priced_pnt|round(2)}}
                        {% endif%}
                    </td>
                    <td class="text-center">
                        {% if market_data[m.ticker].twelve_month_momentum is none %}
                        0
                        {% else %}
                        {{market_data[m.ticker].twelve_month_momentum|round(2)}}
                        {% endif%}
                    </td>
                    <td class="text-center">
                        {% if market_data[m.ticker].beta is none %}
                        0
                        {% else %}
                        {{market_data[m.ticker].beta|round(2)}}
                        {% endif%}
                    </td>
                    <td class="text-center">
                        {% if market_data[m.ticker].max_intraday_drop_percent is none %}
                        0
                        {% else %}
                        {{market_data[m.ticker].max_intraday_drop_percent|round(2)}}
                        {% endif%}
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
<script>var candidates = {{ candidates_json|tojson}};</script>
<script>var market_data = {{ market_data_json|tojson}};</script>
</div>
{% endblock %}

{% block scripting %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
        integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/snp_graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/spyder_project.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/today.js') }}"></script>
{% endblock %}

{% block modal %}
<!-- Modal -->

<div class="modal emotion-modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">S&P with Market Emotion</h5>
                <button type="button" class="emotion-modal-close close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="container_sp500" style="width:100%; height:300px;"></div>
                <div id="container_emotion" style="width:100%; height:300px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="go_to_cnn()" class="btn btn-secondary" >Description</button>
            </div>
        </div>
    </div>
</div>

<div class="modal improovers_modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="improovers_modalTitle">TODAY IMPROOVERS</h5>
                <button type="button" class="improovers-modal-close close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body big-height-resize">
                <table class="mb-0 table improovers-modal-tbl">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Company</th>
                            <th class="text-center">Score</th>
                            <th class="text-center">Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in today_improovers %}
                        <tr>
                            <td class="text-center"><img src="{{ i.logo }}" width="20" height="20"></td>
                            <td>
                                <a href="{{url_for('candidates.info')}}?ticker_to_show={{ i.ticker }}">
                                    {{ i.ticker }}
                                </a>
                                <div class="text-small">{{i.company_name}}</div>
                            </td>
                            <td class="text-center">{{i.last_rank}}</td>
                            <td class="text-center">{{i.change_val}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal personal_modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personal_modalTitle">PERSONAL LIST</h5>
                <button type="button" class="personal-modal-close close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body big-height-resize">
                <table class="mb-0 table personal-modal-tbl sortable unstackable selectable celled">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Company</th>
                            <th></th>
                            <th></th>
                            <th>Enabled</th>
                            <th>Score</th>
                            <th>Sector</th>
                            <th>Underprice(%)</th>
                            <th>12M Momentum</th>
                            <th>Beta</th>
                            <th>Max Intraday Drop %</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in candidates %}
                        <tr>
                            <td class="text-center"><img src="{{ i.logo }}" width="20" height="20"></td>
                            <td>
                                <a href="{{url_for('candidates.info')}}?ticker_to_show={{ i.ticker }}">
                                    {{ i.ticker }}
                                </a>
                                <div class="text-small">{{i.company_name}}</div>
                            </td>
                            <td class="text-center">
                                <button id="remove-{{i.ticker}}" type="submit" data-ticker="{{ i.ticker }}" class="bord-none remove-candidate"><i class="fa fa-trash"></i></button>
                            </td>
                            <td class="text-center">
                                <button class="btn_edit bord-none"><i class="fa fa-edit mt-1"></i></button>
                                <input type="hidden" class="h_tick" value="{{ i.ticker }}">
                                <input type="hidden" class="h_reason" value="{{ i.reason }}">
                            </td>
                            <td class="text-center">
<!--                                <form action="{{url_for('candidates.enabledisable')}}" method="post">-->
<!--                                    <input type="hidden" name="ticker_to_change" value="{{ i.ticker }}">-->
<!--                                    <input class="mt-2" type="checkbox" onChange="this.form.submit()"-->
<!--                                           {%if i.enabled%}-->
<!--                                           checked-->
<!--                                           {% endif %}>-->
<!--                                </form>-->
                                <input class="mt-2 enable-checkbox" id="enabled-{{i.ticker}}" data-ticker="{{i.ticker}}" type="checkbox"
                                       {%if i.enabled%}
                                       checked
                                       {% endif %}>
                            </td>
                            <td class="text-center">{{market_data[i.ticker].algotrader_rank}}</td>
                            <td class="text-small">{{ i.sector }}</td>
                            <td class="text-center">
                                {% if market_data[i.ticker].under_priced_pnt is none %}
                                    0
                                {% else %}
                                    {{market_data[i.ticker].under_priced_pnt|round(2)}}
                                {%endif %}
                            </td>
                            <td class="text-center">
                                {% if market_data[i.ticker].twelve_month_momentum is none %}
                                    0
                                {% else %}
                                    {{market_data[i.ticker].twelve_month_momentum|round(2)}}
                                {%endif %}
                            </td>
                            <td class="text-center">
                                {% if market_data[i.ticker].beta is none %}
                                    0
                                {% else %}
                                    {{market_data[i.ticker].beta|round(2)}}
                                {%endif %}
                            </td>
                            <td class="text-center">
                                {% if market_data[i.ticker].max_intraday_drop_percent is none %}
                                    0
                                {% else %}
                                    {{market_data[i.ticker].max_intraday_drop_percent|round(2)}}
                                {%endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal signals_modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signals_modalTitle">TELEGRAM SIGNALS TODAY</h5>
                <button type="button" class="signals-modal-close close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body big-height-resize">
                <table class="mb-0 table signals-modal-tbl">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Company</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Target</th>
                                <th class="text-center">Profit</th>
                                <th class="text-center">Days</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in signals[:5] %}
                            <tr>
                                <td class="text-center"><img src="{{ i.logo }}" width="20" height="20"></td>
                                <td>
                                    <a href="{{url_for('candidates.info')}}?ticker_to_show={{ i.ticker }}">
                                        {{ i.ticker }}
                                    </a>
                                    <div class="text-small">{{i.company_name}}</div>
                                </td>
                                <td class="text-center">
                                    {{i.signal_price|round(2)}}
                                </td>
                                <td class="text-center">
                                    {{i.target_price|round(2)}}
                                </td>
                                <td class="text-center">
                                    {% if i.target_price is not none%}
                                    {{i.target_price|round(2)}}
                                    {%else%}
                                    0
                                    {%endif%}
                                </td>
                                <td class="text-center">
                                    {% if i.target_price is not none%}
                                    {{i.target_price|round(2)}}
                                    {%else%}
                                    0
                                    {%endif%}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="add_candidate_modal" data-keyboard="false" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Candidate</h5>
                    <button type="button" class="btn-modal-hide close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div id="candidate-flash"></div>
                    <div>
                        <input type="hidden" id="user-email" value="{{ current_user.email }}">
                        <div class="form-group">
                            <label class="form-label" for="txt_ticker">Ticker</label>
                            <input required id="txt_ticker" name="txt_ticker" type="text" class="form-control"
                                   placeholder="Enter a ticker ...">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="txt_reason">Reason</label>
                            <textarea required class="form-control" name="txt_reason" id="txt_reason" rows="3"
                                      placeholder="Enter a reason ..."></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="get_data_for_ticker()" id="btn_validate" class="btn btn-primary">Validate</button>
                        </div>

                        <div class="candidate-bottom">
                            <span class="candidate-loading d-flex justify-content-center"></span>
                            <div class="candidate-data content-hidden" hidden>
                                <div class="form-group">
                                    <label class="form-label" for="txt_company_name">Name</label>
                                    <input required id="txt_company_name" name="txt_company_name" type="text" disabled
                                           class="form-control ticker-desc">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="txt_company_description">Description</label>
                                    <textarea required class="form-control ticker-desc" name="txt_company_description" disabled
                                              id="txt_company_description" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="txt_exchange">Exchange</label>
                                    <input required id="txt_exchange" name="txt_exchange" type="text" class="form-control ticker-desc"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="txt_industry">Sector</label>
                                    <input required id="txt_sector" name="txt_sector" type="text" class="form-control ticker-desc"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="txt_industry">Industry</label>
                                    <input required id="txt_industry" name="txt_industry" type="text" class="form-control ticker-desc"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="txt_logo">Logo URL</label>
                                    <input required id="txt_logo" name="txt_logo" type="text" class="form-control ticker-desc" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer content-hidden">
                    <button type="button" class="btn btn-secondary btn-modal-hide">Close
                    </button>
                    <input type="button" title="Validate to Submit" class="btn btn-primary" disabled id="btn_submit"
                           value="Submit" onclick="update_candidate(remove_candidate, change_enabled)">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

