{% extends 'layouts/base.html' %}
{% block page_title %}
Algotrader | Today
{% endblock %}

{% block content %}
<!--title row-->
<div class="row">
    <div class="col">
        <div class="card mt-lg-4 mb-3">
            <div class="bg-holder d-none d-lg-block bg-card" >
            </div>
            <!--/.bg-holder-->

            <div class="card-body position-relative">
              <div class="row">
                <div class="col-lg-8">
                  <h3>Today</h3>
                  <p class="mb-0">Market State</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!--movements and updates-->
<div class="row">
    <div class="mb-1 col-md-4">
        <div class="card ">
            <div class="card-header border-bottom">
                Movers
            </div>
            <div class="card-body pt-0">
                Table
            </div>
        </div>
    </div>
    <div class="mb-1 col-md-4">
        <div class="card">
            <div class="card-header border-bottom">
                Favorites
            </div>
            <div class="card-body pt-0">
                Table
            </div>
        </div>
    </div>
    <div class="mb-1 col-md-4">
        <div class="card ">
            <div class="card-header border-bottom">
                Signals
            </div>
            <div class="card-body pt-0">
                Table
            </div>
        </div>
    </div>
</div>
<!--big search-->
<div class="row justify-content-center my-3">
    <div class="col-md-8 ">
        <div class="card " >
            Search big
        </div>
    </div>
</div>
<!--news and tops-->
<div class="row">
    <div class="mb-1 col-md-3">
        <div class="card ">
            <div class="card-header border-bottom">
                Top 10 Scores
            </div>
            <div class="card-body pt-0">
                Table
            </div>
        </div>
    </div>
    <div class="mb-1 col-md-6">
        <div class="card">
            <div class="card-header border-bottom">
                Top by Sectors
            </div>
            <div class="card-body pt-0">
                Table
            </div>
        </div>
    </div>
    <div class="mb-1 col-md-3">
        <div class="card ">
            <div class="card-header border-bottom">
                News
            </div>
            <div class="card-body pt-0">
                Table
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripting %}

{% endblock %}

{% block modal %}

{% endblock %}

