{% extends 'layouts/base.html' %}
{% block page_title %}
Algotrader | Today
{% endblock %}


{% block content %}
<input type="hidden" id="user-email" value="{{ user.email }}">
<input type="hidden" id="user-emotion" value={{user_fgi}}>

<!--title row-->
<div class="row mb-3">
    <div class="col">
        <div class="card bg-100 shadow-none border">
            <div class="row gx-0 flex-between-center flex-fill">
                <div class="col-sm-auto d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <i class="far fa-newspaper fa-4x p-3"></i>
                        <div>
                            <h5 class="fw-bold mb-0">
                                Today
                            </h5>
                            <p class="fs--1 mb-0 text-500">Market State</p>
                        </div>
                    </div>
                    <div class="chart-container pt-3 d-lg-none today_emotion_box" data-bs-toggle="modal" data-bs-target="#emotion-modal" style="right: 5%; position: relative; height:75px; width:115px">
                        <canvas class="mt-n3" id="marketEmotion-mobile" width="90" height="90"></canvas>
                        <p class="mb-0 text-center fs--4 mt-n5 text-{{fgi_text_color}}">{{ market_emotion.fgi_value}}</p>
                        <p class="mb-0 text-center fs--2 text-800">Market Emotion</p>
                        <p class="mb-0 text-center fs--2 text-400">{{ market_emotion.score_time.strftime("%d %b, %Y %H:%M:%S") }}</p>
                    </div>
                </div>
                <div class="col-md-auto p-3 d-none d-lg-inline" data-bs-toggle="modal" data-bs-target="#emotion-modal">
                    <div class="chart-container pt-2 today_emotion_box" style="position: relative; height:100px; width:120px;">
                        <canvas class="mt-n3" id="marketEmotion" width="90" height="90"></canvas>
                        <p class="mb-0 text-center fs--4 mt-n5 text-{{fgi_text_color}}">{{ market_emotion.fgi_value}}</p>
                        <p class="mb-0 text-center fs--2 text-800">Market Emotion</p>
                        <p class="mb-0 text-center fs--2 text-400">{{ market_emotion.score_time.strftime("%d %b, %Y %H:%M:%S") }}</p>
                    </div>
                </div>
                <div class="col-md-auto w-25 p-3 d-none d-lg-inline">
                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
                  {
                      "symbols": [
                        {
                          "proName": "FOREXCOM:SPXUSD",
                          "title": "S&P 500"
                        }
                      ],
                      "colorTheme": "light",
                      "isTransparent": true,
                      "showSymbolLogo": true,
                      "locale": "en"
                  }
              </script>
                </div>
                <div class="col-md-auto p-3">
                    <div class="mb-1 mr-1 badge bg-info d-block">EST:  {{ current_est_time }}</div>
                    <div class="mb-1 mr-1 badge bg-info d-block">US market:  {{ trading_session_state }}</div>
                    <div class="mb-1 mr-1 badge bg-{{ bg_upd_color }} d-block"  data-toggle="tooltip" data-placement="bottom" title="Market Data last update">Upd:  {{ last_update_date }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--movements and updates-->
<div class="row">
    <div class="mb-1 col-md-4">
        <div class="card improovers" style="min-height: 320px;">
            <div class="card-header border-bottom p-2">
                Movers
            </div>
            <div class="card-body improovers-card-body p-2 pt-3">
                    <div class="div-content table-responsive mt-n3">
                        <table class="mb-0 table improovers-tbl table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="p-0  pb-1 pt-1"></th>
                                    <th scope="col" class="fs--2 p-0 pb-1 pt-1">Company</th>
                                    <th scope="col" class="fs--2 text-center p-0 pb-1 pt-1">Score</th>
                                    <th scope="col" class="fs--2 text-center p-0 pb-1 pt-1">Change</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    {% include 'layouts/loader.html' %}
                </div>
            <div class="card-footer p-2">
                <button class="btn btn-falcon-primary btn-sm" data-bs-toggle="modal" data-bs-target="#improovers-modal"><i class="far fa-eye pe"></i><span class="ps-2">All</span></button>
            </div>
        </div>
    </div>
    <div class="mb-1 col-md-4">
        <div class="card personal-list" style="min-height: 325px;">
            <div class="card-header border-bottom p-2">
                Favorites
            </div>
            <div class="card-body p-2 pt-3 personal-list-card-body">
                <div class="row align-items-center add-tickers-card d-none">
                    <div class="col-lg-6"><img width="300" class="img-fluid" src="/static/falcon/assets/img/icons/spot-illustrations/21.png" alt=""></div>
                    <div class="col-lg-6 ps-lg-4 my-5 text-center text-lg-start">
                      <h4 class="text-primary">It's empty here...</h4>
                      <p class="lead">Try following a few stocks</p>
                        <button class="btn btn-falcon-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-candidate-modal">Add Candidate</button>
                    </div>
                </div>
                <div class="div-content table-responsive mt-n3">
                    <table class="mb-0 table personal-tbl table-hover" >
                        <thead>
                            <tr>
                                <th scope="col" class="p-0 pb-1 pt-1"></th>
                                <th scope="col" class="fs--2 p-0 pb-1 pt-1">Company</th>
                                <th scope="col" class="fs--2 text-center p-0 pb-1 pt-1">Score</th>
                                <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Drop %</th>
                                <th class="text-end fs--2 p-0 pb-1 pt-1" scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                {% include 'layouts/loader.html' %}
            </div>
            <div class="card-footer p-2 d-none">
                <button class="btn btn-falcon-primary btn-sm" data-bs-toggle="modal" data-bs-target="#personal-modal"><i class="far fa-eye pe"></i><span class="ps-2">All</span></button>
            </div>
        </div>
    </div>
    <div class="mb-1 col-md-4">
        <div class="card signals" style="min-height: 320px;">
            <div class="card-header border-bottom p-2">
                Signals
            </div>
            <div class="card-body signals-card-body p-2 pt-3">
                    <div class="div-content table-responsive mt-n3">
                        <table class="mb-0 table signals-tbl table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="p-0  pb-1 pt-1"></th>
                                    <th scope="col" class="fs--2 p-0 pb-1 pt-1">Company</th>
                                    <th scope="col" class="fs--2 text-center p-0 pb-1 pt-1">Price</th>
                                    <th scope="col" class="fs--2 text-center p-0 pb-1 pt-1">Target</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    {% include 'layouts/loader.html' %}
                </div>
            <div class="card-footer p-2">
                <button class="btn btn-falcon-primary btn-sm" data-bs-toggle="modal" data-bs-target="#signals-modal"><i class="far fa-eye pe"></i><span class="ps-2">All</span></button>
            </div>
        </div>
    </div>
</div>
<!--big search-->
<div class="row justify-content-center my-3">
    <div class="col-md-8 search-input">
        {% with id='today' %}
        {% include 'partial/search.html' %}
        {% endwith %}
    </div>
</div>
<!--news and tops-->
<!--<div class="row mt-4">-->
<!--    <div class="mb-1 col-md-3">-->
<!--        <div class="card ">-->
<!--            <div class="card-header border-bottom">-->
<!--                Top 10 Scores-->
<!--            </div>-->
<!--            <div class="card-body pt-0">-->
<!--                Table-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="mb-1 col-md-6">-->
<!--        <div class="card">-->
<!--            <div class="card-header border-bottom">-->
<!--                Top by Sectors-->
<!--            </div>-->
<!--            <div class="card-body pt-0">-->
<!--                Table-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="mb-1 col-md-3">-->
<!--        <div class="card ">-->
<!--            <div class="card-header border-bottom">-->
<!--                News-->
<!--            </div>-->
<!--            <div class="card-body pt-0">-->
<!--                Table-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}

{% block scripting %}

<script>
    var marketEmotionInit = function marketEmotionInit() {
  var marketEmotionElement = document.getElementById('marketEmotion');

  var getOptions = function getOptions() {
    return {
      type: 'doughnut',
      data: {
        labels: ['Emotion',''],
        datasets: [{
          data: [{{ market_emotion.fgi_value}}, 100 - {{ market_emotion.fgi_value}}],
          backgroundColor: [utils.getColor('{{fgi_text_color}}'), utils.getColor('300')],
          borderColor: [utils.getColor('{{fgi_text_color}}'), utils.getColor('300')]
        }]
      },
      options: {
        tooltips: {
       enabled: false
    },
    responsive: true,
    maintainAspectRatio: false,
        rotation: -90,
        circumference: '180',
        cutout: '80%',
        plugins: {
          legend: {
            display: false
          }
        }
      }
    };
  };

  chartJsInit(marketEmotionElement, getOptions);
};

    var marketEmotionMobileInit = function marketEmotionMobileInit() {
  var marketEmotionMobileElement = document.getElementById('marketEmotion-mobile');

  var getMobileOptions = function getOptions() {
    return {
      type: 'doughnut',
      data: {
        labels: ['Emotion',''],
        datasets: [{
          data: [{{ market_emotion.fgi_value}}, 100 - {{ market_emotion.fgi_value}}],
          backgroundColor: [utils.getColor('{{fgi_text_color}}'), utils.getColor('300')],
          borderColor: [utils.getColor('{{fgi_text_color}}'), utils.getColor('300')]
        }]
      },
      options: {
        tooltips: {
       enabled: false
    },
    responsive: true,
    maintainAspectRatio: false,
        rotation: -90,
        circumference: '180',
        cutout: '80%',
        plugins: {
          legend: {
            display: false
          }
        }
      }
    };
  };

  chartJsInit(marketEmotionMobileElement, getMobileOptions);
};
docReady(marketEmotionInit);
docReady(marketEmotionMobileInit);
</script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
        integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/snp_graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/spyder_project.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/today_new.js') }}"></script>
{% endblock %}

{% block modal %}
<div class="modal fade emotion-modal" id="emotion-modal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="emotion-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg mt-6" role="document">
    <div class="modal-content border-0">
      <div class="modal-header bg-light rounded-top-lg py-3 ps-4 pe-4">
            <h4 class="mb-1" id="emotion-modal-label">S&P with Market Emotion</h4>
            <button type="button" class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body p-0">
        <div class="p-4">
            <div id="container_sp500" style="width:100%; height:300px;"></div>
                <div id="container_emotion" style="width:100%; height:300px;"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="go_to_cnn()" class="btn btn-secondary" >Description</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade improovers-modal" id="improovers-modal" tabindex="-1" aria-labelledby="improovers-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg mt-6 modal-dialog-scrollable" role="document">
    <div class="modal-content border-0">
        <div class="modal-header bg-light rounded-top-lg py-3 ps-4 pe-4">
            <h4 class="mb-1" id="improovers-modal-label">Movers</h4>
            <button type="button" class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body p-0">
        <div class="p-4">
            <div class="improovers-modal-tbl table-responsive mt-n3">
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="p-0 pb-1 pt-1"></th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1">Company</th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Score</th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Change</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade personal-modal" id="personal-modal" tabindex="-1" aria-labelledby="personal-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg mt-6 modal-dialog-scrollable" role="document">
    <div class="modal-content border-0">
        <div class="modal-header bg-light rounded-top-lg py-3 ps-4 pe-4">
            <h4 class="mb-1" id="personal-modal-label">Favorites</h4>
            <button type="button" class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body p-0">
        <div class="p-4">
            <div class="table-responsive mt-n3">
                <table class="mb-0 table personal-modal-tbl table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="p-0 pb-1 pt-1"></th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1">Company</th>
                            <th scope="col" class="p-0 pb-1 pt-1"></th>
                            <th scope="col" class="p-0 pb-1 pt-1"></th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Enabled</th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Score</th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Sector</th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Underprice(%)</th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">12M Momentum</th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Beta</th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Max Intraday Drop %</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade add-candidate-modal" id="add-candidate-modal" tabindex="-1" role="dialog" aria-labelledby="add-candidate-modal-labe" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document" style="max-width: 500px">
    <div class="modal-content border-0">
        <div class="modal-header bg-light rounded-top-lg py-3 ps-4 pe-4">
            <h4 class="mb-1" id="add-candidate-modal-labe">Add to Favorites</h4>
            <button type="button" class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body p-0">
        <div class="p-4 pb-0">
            <div class="mb-3">
              <label class="col-form-label">Ticker</label>
              {% with id='modal' %}
                {% include 'partial/search.html' %}
                {% endwith %}
            </div>
            <div class="mb-3">
              <label class="col-form-label" for="txt_reason">Reason</label>
              <textarea class="form-control" id="txt_reason" name="txt_reason"></textarea>
            </div>
        </div>
          <div class="p-4 pb-3 candidate-bottom" hidden>
            <div class="form-group">
                <label class="form-label" for="txt_company_name">Name</label>
                <input required id="txt_company_name" name="txt_company_name" type="text" disabled
                       class="form-control ticker-desc">
            </div>
            <div class="form-group">
                <label class="form-label" for="txt_company_description">Description</label>
                <textarea required class="form-control ticker-desc" name="txt_company_description" disabled
                          id="txt_company_description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label class="form-label" for="txt_exchange">Exchange</label>
                <input required id="txt_exchange" name="txt_exchange" type="text" class="form-control ticker-desc"
                       disabled>
            </div>
            <div class="form-group">
                <label class="form-label" for="txt_industry">Sector</label>
                <input required id="txt_sector" name="txt_sector" type="text" class="form-control ticker-desc"
                       disabled>
            </div>
            <div class="form-group">
                <label class="form-label" for="txt_industry">Industry</label>
                <input required id="txt_industry" name="txt_industry" type="text" class="form-control ticker-desc"
                       disabled>
            </div>
          </div>
          <div class="loading-section ps-4 text-primary d-none">
              <span class="spinner-border spinner-border-sm loading" role="status" aria-hidden="true"></span>
              Loading...
            </div>
      </div>
      <div class="modal-footer">
        <button id="btn-submit" class="btn btn-primary disabled" onclick="add_update_candidate()" type="button">Submit </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade signals-modal" id="signals-modal" tabindex="-1" aria-labelledby="signals-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg mt-6 modal-dialog-scrollable" role="document">
    <div class="modal-content border-0">
        <div class="modal-header bg-light rounded-top-lg py-3 ps-4 pe-4">
            <h4 class="mb-1" id="signals-modal-label">Movers</h4>
            <button type="button" class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body p-0">
        <div class="p-4">
            <div class="signals-modal-tbl table-responsive mt-n3">
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="p-0 pb-1 pt-1"></th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1">Company</th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Price</th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Target</th>
                            <th scope="col" class="fs--2 p-0 pb-1 pt-1 text-center">Received</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

