{% extends 'layouts/base.html' %}

{% block content %}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-albums icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>User candidates
                    <div class="page-title-subheading">Candidates added by user.
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="column">
<!--        <button type="button" id="btnAddCandidate" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target="#add_candidate_modal">-->
<!--            Add-->
<!--            Candidate-->
<!--        </button>-->

                <button type="button" id="btnAddCandidate" class="btn mr-2 mb-2 btn-primary" >
            Add
            Candidate
        </button>
        <div class="ui menu">
            <div class="ui left search item">
                <div class="ui transparent icon input">
                    <input id="search-users" type="text" placeholder="Search users…">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        {# Use overflow-x: scroll so that mobile views don't freak out
        # when the table is too wide #}
        <div style="overflow-x: scroll;">
                                    <div class="page-title-subheading">User Candidates:
                    </div>
            <table class="ui searchable sortable unstackable selectable celled table">
                <thead>
                <tr>
                    <th class="sorted descending">Ticker</th>
                    <th></th>
                    <th></th>
                    <th>Enabled</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for m in candidates | sort(attribute='ticker') %}
                <tr>
                    <td>{{ m.ticker }}</td>
                    <td>
                        <form action="{{url_for('candidates.removecandidate')}}" method="post">
                            <input type="hidden" name="ticker_to_remove" value="{{ m.ticker }}">
                            <button type="submit"><i class="fa fa-trash"></i></button>
                        </form>

                    </td>
                    <td>

                            <button class="btn_edit"><i class="fa fa-edit"></i></button>
                            <input type="hidden" class="h_tick" value="{{ m.ticker }}">
                            <input type="hidden" class="h_desc" value="{{ m.description }}">
                    </td>
                    <td>
                        <form action="{{url_for('candidates.enabledisable')}}" method="post">
                            <input type="hidden" name="ticker_to_change" value="{{ m.ticker }}">
                            <input type="checkbox" onChange="this.form.submit()"
                                   {%if m.enabled%}
                                   checked
                            {% endif %}
                            >

                        </form>

                    </td>
                    <td>{{ m.description }}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="divider mt-0" style="margin-bottom: 30px;"></div>
        {% if admin_candidates|length != 0 %}
<div style="overflow-x: scroll;">
                        <div class="page-title-subheading">Admin Candidates enabled:
                    </div>
            <table class="ui searchable sortable unstackable selectable celled table">
                <thead>
                <tr>
                    <th class="sorted descending">Ticker</th>

                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for m in admin_candidates | sort(attribute='ticker') %}
                <tr>
                    <td>{{ m.ticker }}</td>

                    <td>{{ m.description }}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}

{% block modal %}
<!-- Modal -->
    <div class="modal" id="add_candidate_modal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{{url_for('candidates.updatecandidate')}}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Candidate stock</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label class="form-label" for="txt_ticker">Ticker</label>
                            <input required id="txt_ticker" name="txt_ticker" type="text" class="form-control"
                                   placeholder="Enter a ticker ...">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="txt_description">Description</label>
                            <textarea required class="form-control" name="txt_description" id="txt_description" rows="3"
                                      placeholder="Enter a description ..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="m.hide()" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripting %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/usercandidates.js') }}"></script>
{% endblock %}