{% extends 'layouts/main.html' %}
{% block page_title %}
Stock Score
{% endblock %}
{% block content %}

<div class="main-page">
    <!-- Header-->
    <header class="main-header">
        <div class="container">
            <div class="section-title font-weight-bold">
<!--                <h2>Analytics driven automated trading</h2>-->
                <h2>Stock Score: AI Analytics and Market Emotions</h2>
            </div>
            <div class="main-cards">
                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <div class="card mb-3 widget-content">
                            <div class="widget-content-outer">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Users</div>
                                        <div class="widget-subheading">Registered users</div>
                                    </div>
                                    <div class="widget-content-right filter-items">
                                        <div class="position-items">
                                            <div class="item info-items pr-3">
                                                <div class="text-primary text-center rate-item">{{system_status['personal_users']}}</div>
                                                <div class="label-info text-primary">Personal</div>
                                            </div>
                                            <div class="item last-item info-items">
                                                <div class="text-primary text-center rate-item">{{system_status['managed_users']}}</div>
                                                <div class="label-info text-primary">Managed</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="card mb-3 widget-content">
                            <div class="widget-content-outer">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Tickers</div>
                                        <div class="widget-subheading">Candidates tracked daily</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-primary">{{system_status['tickers_tracked']}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="card mb-3 widget-content">
                            <div class="widget-content-outer">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Executions</div>
                                        <div class="widget-subheading">Deals executed</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-primary">{{system_status['all_positions']}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <div class="card mb-3 widget-content">
                            <div class="widget-content-outer">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Funds</div>
                                        <div class="widget-subheading">All users portfolio value</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-primary">{{system_status['funds'] | round |int}} $</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="card mb-3 widget-content">
                            <div class="widget-content-outer">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">Last Update</div>
                                        <div class="widget-subheading">Last data update</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="text-primary">{{system_status['last_update_date']}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="card mb-3 widget-content">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Success Rate</div>
                                </div>
                                <div class="widget-content-right filter-items">
                                    <div class="position-items">
                                        <div class="item info-items pr-3 tooltip-help" data-toggle="tooltip" data-placement="bottom" title="Positions closed for technical reason">
                                            <div class="text-primary text-center rate-item">{{system_status['technical_positions']}}</div>
                                            <div class="label-info text-primary">Technical</div>
                                        </div>
                                        <div class="item info-items pr-3">
                                            <div class="text-success text-center rate-item">{{system_status['profit_positions']}}</div>
                                            <div class="label-info text-success">Success</div>
                                        </div>
                                        <div class="item last-item info-items">
                                            <div class="text-danger text-center rate-item">{{system_status['lost_positions']}}</div>
                                            <div class="label-info text-danger">Fail</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 content-container mobile-hidden">
            <div class="col-md-3">
                <div class="main-card mb-3 pt-4 card">
                    <div class="swatch-holder swatch-holder-lg bg-primary main-card-left" id="TooltipC-0">
                        <i class="fas fa-chart-line text-white"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Analytics</h5>
                        <div class="pt-4">
                            <a class="nav-scroll" href="#algotrader-score">
                                <ul class="scroll-item">
                                    <li><p>AI driven Stock analytics</p></li>
                                    <li><p>Daily updated</p></li>
                                    <li><p>Enriched by 3d party data</p></li>
                                </ul>
                            </a>
                            <a class="nav-scroll" href="#market-emotion">
                                <ul class="scroll-item">
                                    <li><p>AI driven Market analytics</p></li>
                                    <li><p>Hourly updated</p></li>
                                    <li><p>Measured by 7 parameters</p></li>
                                </ul>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main-card mb-3 pt-4 card">
                    <div class="swatch-holder swatch-holder-lg bg-primary main-card-central" id="TooltipC-1">
                        <i class="fab fa-think-peaks text-white text-white"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Timing</h5>
                        <div class="pt-4">
                            <ul>
                                <a class="nav-scroll" href="#profit-maximization">
                                    <li class="scroll-item"><p>Profit maximization for Trending market phase</p></li>
                                </a>
                                <a class="nav-scroll" href="#advantage-entry-point">
                                    <li class="scroll-item"><p>Entry point for each position targeted to gain intraday advantage based on 1year back research for each ticker (daily updated)</p></li>
                                </a>
                                <li><p>Profit maximization with a trailing stop</p></li>
                                <a class="nav-scroll" href="#trading-by-emotions">
                                    <li class="scroll-item"><p>Positions open only during positive market emotional phase</p></li>
                                </a>
                                <li><p>Long held positions eliminated for better use of resources</p></li>
                                <a class="nav-scroll" href="#crash-protaction">
                                    <li class="scroll-item"><p>Market crash protection based on market intraday drop (Black swan)</p></li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-card mb-3 pt-4 card">
                    <div class="swatch-holder swatch-holder-lg bg-primary" id="TooltipC-2">
                        <i class="fas fa-chart-pie text-white"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Management</h5>
                        <ul class="card-ul-last">
                            <a class="nav-scroll" href="#portfolio-management">
                                <li class="scroll-item"><p>Portfolio diversification by sectors</p></li>
                            </a>
                            <a class="nav-scroll" href="#candidates">
                                <li class="scroll-item"><p>Flexible behavior configuration- for different portfolio sizes</p></li>
                            </a>
                            <a class="nav-scroll" href="#personal-performance">
                                <li class="scroll-item"><p>Performance research for adjustment</p></li>
                            </a>
                            <a class="nav-scroll" href="#custom-filters">
                                <li class="scroll-item"><p>Filters to adjust a personal risk level per user</p></li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow mobile-hidden">
            <a class="nav-scroll" href="#algotrader-score">
                <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        </div>
    </header>
    <!-- Analytics section - Algotrader Score-->
    <section id="algotrader-score" class="mobile-hidden">
        <div class="container px-4">
            <div class="gx-4">
                <div class="animated lightSpeedIn">
                    <div>
                        <h2 class="section-title font-weight-bold">Algotrader score</h2>
                        <p>The data is saved in DB in order to validate the analysis quality</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper card-title">
                                        <p>INSIDER ACTIVITIES</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper card-title">
                                        <p>FUNDAMENT ALS</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper card-title">
                                        <p>TECHNIC ALS</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper card-title">
                                        <p>HEDGE FUND ACTIVITY</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper card-title smart-score">
                                        <h3>SMART SCORE</h3>
                                        <div class="text-success">
                                            <p>1 - 10</p>
                                        </div>
                                        <div class="pt-3">
                                            <img src="/static/images/main/smart_score.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper card-title">
                                        <p>NEW SENTIMENT</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper card-title">
                                        <p>ANALYST RATINGS</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper card-title">
                                        <p>BLOGGER OPTIONS</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative-div">
                   <img class="algo-score-img" src="{{ url_for('static', filename='images/main/algotrader_score.png') }}">
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow">
            <a class="nav-scroll" href="#market-emotion">
                <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- Analytics section - Market Emotion-->
    <section id="market-emotion" class="mobile-hidden">
        <div class="container px-4">
            <div class="gx-4 d-flex">
                <div class="emotion-img">
                   <img src="{{ url_for('static', filename='images/main/market_emotion.png') }}">
                </div>
                <div class="animated lightSpeedIn relative-div">
                    <div class="div-color">
                        <h2>Market Emotion</h2>
                        <div>
                            <p class="opacity-8 emotion-title">Market emotions are moving between exteeme Fear and Greed : between 0 and 100.</p>
                            <p class="emotion-list font-weight-bold">Measured hourly by :</p>
                            <ul>
                                <li>
                                    <p>
                                        <span class="pr-1 font-weight-bold">S&P 500 Momentum.</span>Versus its 125-day moving average.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span class="pr-1 font-weight-bold">S&P 500 Strength.</span>The number of stocks hitting 52-week Highs and Lows.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span class="pr-1 font-weight-bold">Stock Price Breadth.</span>The volume of shares trading in stocks on the rise versus those declining.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span class="pr-1 font-weight-bold">Put and Call Options.</span>The put/call ratio, which compares the trading volume of bullish call options relative to the trading volume of bearish put options
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span class="pr-1 font-weight-bold">Junk Bond Demand.</span>The spread between yields on investment grade bonds and junk bonds.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span class="pr-1 font-weight-bold">Market Volatility.</span>The VIX, which measures volatility
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span class="pr-1 font-weight-bold">Safe Haven Demand.</span>The difference in returns for stocks versus Treasuries
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow">
            <a class="nav-scroll" href="#profit-maximization">
                <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- Timing - Profit maximization -->
    <section id="profit-maximization" class="mobile-hidden">
        <div class="container px-4">
            <div class="gx-4">
                <div class="animated lightSpeedIn animated-left">
                    <div class="profit-title">
                        <h2 class="section-title">Maximizing a profit for a winning position.Better than simply investing.</h2>
                        <p class="pt-2p pl-p">
                            We believe that entering to position on small drops caused by market deviations and bad news and getting out of position with small profit overtime bring better value than just holding it
                        </p>
                        <p class="pl-p">
                            Aggregated profit for a shorter positions should be higher than just a stock overall revenue. Of course it will work only if stock is profitable!
                        </p>
                        <div class="d-flex right-div-flex">
                            <div class="opacity-7 animated-content">
                                <p>
                                    <span class="pr-1 font-weight-bold">Profit point:</span> configured according broker fees... as personal sence...<br/>
                                    Better to use Trailing stop if allowed by API. For example: 1% on IB =not good  it is 10 USD – 2 USD fee, but 6% is already fine: 50 USD-2 USD Fee.
                                </p>
                            </div>
                            <div class="profit-maximization-img">
                                <img src="{{ url_for('static', filename='images/main/arrow_right.png') }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-first">
                    <img src="{{ url_for('static', filename='images/main/profit_maximization.png') }}">
                </div>
                <div class="animated lightSpeedIn animated-right">
                    <div>
                        <div class="d-flex left-div-flex">
                            <div class="arrow-left-img">
                                <img src="{{ url_for('static', filename='images/main/arrow_left.png') }}">
                            </div>
                            <div class="opacity-7 animated-content">
                                <p>
                                    <span class="pr-1 font-weight-bold">Entry point:</span> if during a day stock falls more then average intraday fall of a last year. The statistics is updated on daily basis. From Yahoo finance.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow">
            <a class="nav-scroll" href="#advantage-entry-point">
                <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- Timing - Advantage Entry Point -->
    <section id="advantage-entry-point" class="mobile-hidden">
        <div class="container px-4">
            <div class="gx-4">
                <div class="animated lightSpeedIn">
                    <div class="section-title font-weight-bold">
                        <h2>Advantage entry point (daily)</h2>
                    </div>
                </div>
                <div class="relative-div">
                   <img src="{{ url_for('static', filename='images/main/advantage_entry_point.png') }}">
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow">
            <a class="nav-scroll" href="#trading-by-emotions">
                <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- Timing - Trading By Emotions -->
    <section id="trading-by-emotions" class="mobile-hidden">
        <div class="container px-4">
            <div class="gx-4">
                <div class="animated lightSpeedIn">
                    <div>
                        <h2 class="section-title font-weight-bold">Trading based on market emotions</h2>
                        <p>New positions are opened only during a positive market phase. Minimal level can be adjusted by user – with a ability to back test on one last year. </p>
                    </div>
                </div>
                <div class="relative-div">
                   <img src="{{ url_for('static', filename='images/main/trading_by_emotions.png') }}">
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow">
            <a class="nav-scroll" href="#crash-protaction">
                <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- Timing - Crash Protaction -->
    <section id="crash-protaction" class="mobile-hidden">
        <div class="container px-4">
            <div class="gx-4">
                <div class="animated lightSpeedIn">
                    <div class="crash-title">
                        <h2 class="section-title font-weight-bold">Market crash protection</h2>
                        <div class="d-flex">
                            <div class="crash-content">
                                <p>
                                    Market fall protection –if unexpected intraday massive fall occurs to SnP 500 (Black Swan)- all the existing positions can be automatically closed. The level can be adjusted by user. BACKTESTING
                                </p>
                            </div>
                            <div class="crash-img">
                                <img src="{{ url_for('static', filename='images/main/black_swan_input.png') }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative-div">
                   <img src="{{ url_for('static', filename='images/main/crash_protaction.png') }}">
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow">
            <a class="nav-scroll" href="#portfolio-management">
                <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- MANAGEMENT - Portfolio Management -->
    <section id="portfolio-management" class="mobile-hidden">
        <div class="container px-4">
            <div class="gx-4">
                <div class="animated lightSpeedIn">
                    <div class="portfolio-title">
                        <h2 class="section-title font-weight-bold">Portfolio management</h2>
                        <div class="d-flex">
                            <div class="portfolio-content">
                                <p>
                                    Fully managed, diversifyed portfolio, with customizable settings to adjust better to users personal style of work
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative-div d-flex">
                    <img class="portfolio_management_pie" src="{{ url_for('static', filename='images/main/portfolio_management_pie.png') }}">
                    <img class="portfolio_management-img" src="{{ url_for('static', filename='images/main/portfolio_management.png') }}">
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow">
            <a class="nav-scroll" href="#candidates">
                <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- MANAGEMENT - Candidates -->
    <section id="candidates" class="mobile-hidden">
        <div class="container px-4">
            <div class="gx-4">
                <div class="div-left">
                    <div class="candidates-title">
                        <h2  class="section-title font-weight-bold">Candidates to follow</h2>
                        <p>Built in system selected list of tickers to follow or user defined custom selection</p>
                    </div>
                    <img src="{{ url_for('static', filename='images/main/candidates_1.png') }}">
                </div>
                <div class="animated lightSpeedIn d-flex">
                    <div>
                       <img src="{{ url_for('static', filename='images/main/candidates_2.png') }}">
                    </div>
                    <div class="candidates-img-3">
                       <img src="{{ url_for('static', filename='images/main/candidates_3.png') }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow">
            <a class="nav-scroll" href="#personal-performance">
                <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- Management - Personal Performance-->
    <section id="personal-performance" class="mobile-hidden">
        <div class="container px-4">
            <div class="gx-4">
                <div class="animated lightSpeedIn">
                    <div class="performance-title">
                        <h2 class="section-title font-weight-bold">Personal performance</h2>
                        <p>Ability to analyze the performance and adjust strategy</p>
                    </div>
                    <div class="row relative-div">
                        <img src="{{ url_for('static', filename='images/main/personal_performance_1.png') }}">
                    </div>
                </div>
                <div class="relative-div personal_performance_2">
                   <img class="personal-performance-img" src="{{ url_for('static', filename='images/main/personal_performance_2.png') }}">
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow">
            <a class="nav-scroll" href="#custom-filters">
                <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- Management - Custom Filters-->
    <section id="custom-filters" class="mobile-hidden">
        <div class="container">
            <div class="section-title">
                <h2>Custom filters</h2>
            </div>
            <div class="">
                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <div class="mb-3 pt-4 card custom-card">
                            <div class="swatch-holder swatch-holder-lg bg-primary" id="TooltipC-3">
                                <i class="fas fa-balance-scale-left text-white"></i>
                            </div>
                            <div class="custom-body">
                                <h5 class="card-title">Stock Score Score</h5>
                                <div class="custom-body-content">
                                    <p>Stock Score AI based score for the ticker</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="mb-3 pt-4 card custom-card">
                            <div class="swatch-holder swatch-holder-lg bg-primary" id="TooltipC-4">
                                <i class="fas fa-angle-double-down text-white"></i>
                            </div>
                            <div class="custom-body">
                                <h5 class="card-title">Max intraday drop</h5>
                                <div class="custom-body-content">
                                    <p>Maximal intraday drop in tickers history. Can show a tickers volatility.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="mb-3 pt-4 card custom-card">
                            <div class="swatch-holder swatch-holder-lg bg-primary" id="TooltipC-5">
                                <i class="fas fa-bold text-white"></i>
                            </div>
                            <div class="custom-body">
                                <h5 class="card-title">Beta</h5>
                                <div class="custom-body-content">
                                    <p>Tickers behavior comparing to overall sectors performance</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row minimal-momentum">
                    <div class="col-md-6 col-xl-6">
                        <div class="mb-3 pt-4 card custom-card">
                            <div class="swatch-holder swatch-holder-lg bg-primary" id="TooltipC-6">
                                <i class="fas fa-bacon text-white"></i>
                            </div>
                            <div class="custom-body">
                                <h5 class="card-title">Minimal momentum</h5>
                                <div class="custom-body-content">
                                    <p>General performance of a company during a last year, does it have a positive trend and how strong is it.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="mb-3 pt-4 card custom-card">
                            <div class="swatch-holder swatch-holder-lg bg-primary" id="TooltipC-7">
                                <i class="fas fa-compress-alt text-white"></i>
                            </div>
                            <div class="custom-body">
                                <h5 class="card-title">Underprice level</h5>
                                <div class="custom-body-content">
                                    <p>Current price is below an estimated actual stock price (by analytics consensus)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow">
            <a class="nav-scroll" href="#user-view">
                <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- User View -->
    <section id="user-view" class="mobile-hidden">
        <div class="container px-4">
            <div class="gx-4">
                <div class="animated lightSpeedIn">
                    <div class="section-title font-weight-bold">
                        <h2>Aggregated user view available from all devices</h2>
                    </div>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='images/main/user_view_1.png') }}">
                    <img src="{{ url_for('static', filename='images/main/user_view_2.png') }}">
                </div>
            </div>
        </div>
        <div class="fa-3x scroll-arrow">
            <a class="nav-scroll" href="#page-top">
                <i class="fas fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</div>

{% endblock %}

