<div>
    <p>
        Hi {{user}}
    </p>

</div>
{% for d in data %}
<div>
    <h3>{{d['ticker']}}</h3>
    <p>
        <a href="{{d['website']}}">{{d['ticker']}}</a> ticker from Your Favourites crossed a buying alert trigger of {{d['buying_target_price_fmp']|round(2)}}$ (at alert {{d['price']|round(2)}}$ )
    </p>
</div>
<div>
    <h4>{{d['company']}}</h4>
    <p>Stock Score Rank: {{d['stocke_score']}}</p>
    <p>It is underpriced : {{d['underpriced']}}%</p>
    <p>it's Beta is : {{d['beta']}}</p>
    <p>Analysts goal : {{d['taret']|round(2)}}$({{d['taret_pt']|round(2)}}%)</p>
</div>
<div>
    <p>
        More about <a href="{{d['website']}}">{{d['ticker']}}</a>
    </p>
</div>
{% endfor %}
<div>
    <p>
        Stock Score team.
    </p>
</div>
<div>
    <p>
        You have received this alert according to Your configuration at Stock Score. To change a configuration or to cancel the alerts please use <a href="https://www.stockscore.company/algotradersettings/usersettings">Settings</a> section.
    </p>
</div>