<div>
    <img style="width: 170px;" src="../../static/images/Stock_score_logos/Logo_name.png" alt="">
</div>
<div>
    <p>Dear {{user.email}},</p>
    <p>Welcome to Stock Score platform, the place where You can find the most comprehencive stock and market data, updated daily !</p>
</div>
<div>
    <ul style="list-style: none;">
        <li><span style="color: #2c7be5;">Stock score</span> - based on fundamental financial analysis enriched by the most updated media sentiment </li>
        <li><span style="color: #2c7be5;">Market sentiment</span> - market breath aggregated from several independand sources, helping You to understand what other market players feel and more important – whtat they put they money on.</li>
        <li><span style="color: #2c7be5;">Portfolio</span> - track Your personal favourite stocks, and get the most up to date info about them – track their performance – same as You would, if they were really added to You portfolio.</li>
        <li><span style="color: #2c7be5;">Signals and alerts</span> - get general market alerts and good entry point signals for Your favorite stocks or genrally according to Your preferrences</li>
    </ul>
</div>
<div>
    <p>
        Stock Score is available in browser from any device – START creting your portfolio.
    </p>
</div>

