.menu-td{
    width: 15%;
}

.closed-sidebar.fixed-sidebar .app-main__outer {
    padding-left: 30px !important;
}

.app-page-title {
    margin: -30px 0px 30px !important;
}

.closed-sidebar .app-sidebar{
    width: 50px !important;
    min-width: 50px !important;
}

#net-report{
    width:100%;
    height:400px;
}

.closed-positions-tbl, .closed-positions-filters{
    overflow-x: scroll;
}

.snp-modal, #add_candidate_modal{
    overflow-y: scroll !important;
}
.snp-tbl{
    height: 500px;
    overflow-y: scroll;
    display: block;
}

.link{
    cursor: pointer;
}

.btn-off{
    background-color: #e0dede !important;
}

.filter-items{
    display: flex;
    flex-direction: column;
}

.menu .filter-items{
    width: 17em;
}

.tbl-menu .filter-items, .menu .filter-items{
    padding: .92857143em 1.14285714em;
}

.tbl-menu .form-group{
    margin-bottom: 0px !important;
}

.td-item{
    display: flex;
    align-items: center;
}

.tbl-menu .td-item{
    position: relative;
    line-height: 1;
    padding: .2857143em 0.54285714em;
}

.spider-status-item, #emotion_box{
    width: 70%;
}

.spider-status-item .widget-content,
#emotion_box  .widget-content-outer
{
    width: 50%;
}

#user_emotion_box
{
    width: 30%;
}

#emotion_box, #user_emotion_box
{
    cursor: pointer;
}

#emotion_box .widget-content-outer .widget-content-wrapper,
#emotion_box .widget-content-outer .market-emotion,
#user_emotion_box .widget-content-outer .widget-content-wrapper,
#user_emotion_box .widget-content-outer .market-emotion{
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}
.emotion-update-time{
    margin-left: auto;
}

.emotion-progress-bar{
    height: 0.88em !important;
}

.info-items{
    flex-direction: column;
}

.label-info{
    font-size: xx-small;
}

#closed-position-form, .filter-title{
    margin-bottom: 10px;
}

.position-items {
    display: inherit;
}

.ui.menu .last-item:before,
.tbl-menu .last-item:before{
    height: 0 !important;
}

.profit-value{
    width: 132px;
    margin-left: 20% !important;
}

.tbl-menu .td-item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: rgba(34,36,38,.1);
}

.ibkr-div{
    margin-left: 55% !important;
}
.ibkr-btn{
    width: 200px;
}

.datepicker-item{
    width:150px;
}
.error-tickers-modal{
    margin-top: 8% !important;
}

#contract{
    height: 400px;
}



@media (max-width: 1000px){
    .ibkr-div{
        margin: 0 auto !important;
    }
    .ibkr-btn{
        width: 150px;
    }
    #user_emotion_box
    {
        width: auto;
    }
}







