.register-container{
        background: #eff8fe;
        height: 92vh;
        z-index: -1;
        bottom: 0;
        background-position: bottom center;
        background-size: 100% 100%;
        padding-top: 5% !important;
        padding-right: 40px;
        padding-left: 40px;
    }

    .register-grid{
        width: calc(60% + 20px);
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        vertical-align: top;
    }

    h2{
        padding-bottom: 0.21428571rem;
        border-bottom: 1px solid rgba(34,36,38,.15);
        font-size: 1.71428571rem;
        margin: calc(2rem - 0.14285714em) 0 1rem;
    }

    label{
        display: block;
        margin: 0 0 0.28571429rem 0;
        color: #2F327D;
        font-size: .92857143em;
        font-weight: 700;
        text-transform: none;
    }

    form{
        position: relative;
        max-width: 100%;
    }

 .fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 -0.5em 1em;
}

 .two.fields>.field, .two.fields>.fields {
    width: 50%;
}

.fields>.field:first-child {
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fields>.field {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

 .fields .field, .terms-agree .field{
    clear: both;
    margin: 0;
}

.field:has(> input[type=email]){
    width: 100%;
}

input{
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: 0.7em 0.6em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
        overflow: visible;
        vertical-align: top;
}

.field {
    clear: both;
    margin: 0 0 1em;
}

input[type=text],
input[type=password]{
    width: 90%;
}

input[type=email]{
    width: 95%;
}

.terms-agree{
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}

.terms-agree label{
   font-weight: 400;
}

.terms-agree .menu__link {
    font-size: 12px;
    font-weight: 600;
    color: #2F327D;
}

.terms-agree>.column:not(.row) {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.terms-agree>.column:not(.row), .terms-agree>.row>.column {
    position: relative;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
}

.terms-agree .checkbox {
    position: relative;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 0;
    vertical-align: baseline;
    font-style: normal;
    min-height: 17px;
    font-size: 1rem;
    line-height: 17px;
    min-width: 17px;
}

.terms-agree .checkbox input[type=checkbox]{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    outline: 0;
    z-index: 3;
    width: 17px;
    height: 17px;
    opacity: 0!important;
}

.terms-agree input[type=checkbox] {
    vertical-align: top;
}

input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.terms-agree .checkbox label, .terms-agree .checkbox+label {
    color: #2F327D;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}

.terms-agree .checkbox .box, .terms-agree .checkbox label {
    cursor: auto;
    position: relative;
    display: block;
    padding-left: 3em;
    outline: 0;
    font-size: 12px;
}

.register-container .button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #669ad0 none;
    color: #fff;
    margin: 0 0.25em 0 0;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 400;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}

.terms-agree .checkbox input:checked~label:before {
    background: #fff;
    border-color: rgba(34,36,38,.35);
}

.terms-agree .checkbox label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    content: '';
    background: #fff;
    border-radius: 0.21428571rem;
    -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    border: 1px solid #d4d4d5;
}

.terms-agree .checkbox input:checked~.box:after, .terms-agree .checkbox input:checked~label:after {
    content: '\f00c';
}

.terms-agree .checkbox input:checked~label:after {
    opacity: 1;
    color: rgba(0,0,0,.95);
}

.terms-agree .checkbox .box:after, .terms-agree .checkbox label:after {
    font-family: FontAwesome;
}

.terms-agree .checkbox .box:after, .terms-agree .checkbox label:after {
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    text-align: center;
    opacity: 0;
    color: rgba(0,0,0,.87);
    -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
}

[type=submit]:disabled, [type=submit].disabled, fieldset:disabled [type=submit],
 .btn-google:disabled, .btn-google.disabled, fieldset:disabled .btn-google{
    pointer-events: none;
    opacity: 0.65;
}

.ui.form .field.error .input,
.ui.form .field.error label,
.ui.form .fields.error .field .input,
.ui.form .fields.error .field label {
    color: #9f3a38;
}

.ui.form .field.error input:not([type]),
.ui.form .field.error input[type=date],
.ui.form .field.error input[type=datetime-local],
.ui.form .field.error input[type=email],
.ui.form .field.error input[type=file],
.ui.form .field.error input[type=number],
.ui.form .field.error input[type=password],
.ui.form .field.error input[type=search],
.ui.form .field.error input[type=tel],
.ui.form .field.error input[type=text],
.ui.form .field.error input[type=time],
.ui.form .field.error input[type=url],
.ui.form .field.error select, .ui.form .field.error textarea,
.ui.form .fields.error .field input:not([type]),
.ui.form .fields.error .field input[type=date],
.ui.form .fields.error .field input[type=datetime-local],
.ui.form .fields.error .field input[type=email],
.ui.form .fields.error .field input[type=file],
.ui.form .fields.error .field input[type=number],
.ui.form .fields.error .field input[type=password],
.ui.form .fields.error .field input[type=search],
.ui.form .fields.error .field input[type=tel],
.ui.form .fields.error .field input[type=text],
.ui.form .fields.error .field input[type=time],
.ui.form .fields.error .field input[type=url],
.ui.form .fields.error .field select,
.ui.form .fields.error .field textarea {
    background: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    border-radius: '';
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.pointing.label,
.ui[class*="pointing above"].label {
    margin-top: 1em;
}

.ui.pointing.label {
    position: relative;
}

.ui.red.label,
.ui.red.labels .label {
    background-color: #db2828!important;
    border-color: #db2828!important;
    color: #fff!important;
    font-size: .75714286rem;
    width: fit-content;
    padding: 0 5px 0 5px;
    border-radius: 0.28571429rem;
}

.ui.pointing.label:before,
.ui[class*="pointing above"].label:before {
    border-width: 1px 0 0 1px;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 0;
    left: 50%;
}

.ui.pointing.label:before {
    position: absolute;
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: none;
    z-index: 2;
    width: 0.7em;
    height: 0.7em;
    top: -4px;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
}

.ui.pointing.label:before {
    background-color: inherit;
    background-image: inherit;
    border-width: none;
    border-style: solid;
    border-color: inherit;
}

.ui.label>a {
    cursor: pointer;
    color: inherit;
    opacity: .5;
    -webkit-transition: .1s opacity ease;
    transition: .1s opacity ease;
    font-size: .75714286rem;
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd;
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}

.social-field{
    text-align: center;
}



@media only screen and (max-width: 767px){
.form:not(.unstackable) .two.fields:not(.unstackable)>.field {
    width: 100%!important;
    margin: 0 0 1em;
}}

@media only screen and (max-width: 767px){
.ui.form .fields {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -0.5em 0;
}
input[type=email] {
    width: 90%;
}}