.card-header, .card-title {
    text-transform: uppercase;
    color: rgba(13,27,62,0.7);
    font-weight: bold;
    font-size: .88rem;
}

.today_emotion_box
{
    cursor: pointer;
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -17px;
}

.menu__link.article-link {
    font-size: 15px;
    color: #4183c4;
}

.menu__link {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #4183c4;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative; }

