.ticker-web,
.ticker-web:hover{
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

.page-logo,
.page-fmp-data,
.page-market-data,
.page-ticket-info{
    width: 25%;
}

.page-fmp-data{
    margin-left: -3%;
}

.page-fmp-data .div-content{
    top: 4%;
    width: 12%;
}

.page-fmp-data .div-content span{
    float: right;
    font-size: smaller;
}

.fmp-price-content{
    font-size: larger;
    font-weight: 900;
    border-bottom: 1px solid;
}

.spinner-border{
    margin-right: 55%;
}

.page-market-data{
    display: flex;
    margin-left: -2%;
}

.bage-score{
    height: 101px;
    width: 150px;
    text-align: center;
    padding-top: 7%;
    font-size: x-large;
    color: #fff;
    border-radius: 2rem;
    margin-top: 1%;
    margin-right: 6%;
}

.ticket-info-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
}

.ticket-info-val{
    width: 60%;
}

.ticket-info-title{
    font-weight: 600;
}

.page-ticket-info{
    margin-left: 5%;
}

.score-title{
    margin-top: 12%;
    font-size: medium;
}

.ticker-data{
    width: 155px;
    text-align: inherit;
}

.ticker-data span{
    float: right;
}

.help-cursor{
    cursor: help;
}

.add-candidate,
.candidate-in-list{
    width:60%;
}

.ticker-action .div-content{
    position: inherit;
}

.ticker-action  .div-loading .spinner-border {
    width: 1.5rem;
    height: 1.5rem;
}

@media only screen and (max-width: 991.80px){
    .app-page-title .page-title-heading, .app-page-title .page-title-wrapper {
        margin: 0 auto;
        display: flex;
    }

    .page-logo, .page-fmp-data, .page-market-data, .page-ticket-info {
        width: 35%;
    }
    .page-fmp-data{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .page-logo, .page-market-data{
        width: 40%;
    }
    .page-ticket-info {
        width: 100%;
        margin-top: 42%;
        margin-left: -79%;
    }
    .page-market-data {
        margin-left: 8%;
    }
    .ticker-exchsnge, .ticker-sector, .ticker-industry{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .page-logo .badge-warning{
        font-size: xx-small;
    }
    .market-data-actions{
        display: none;
    }
    .page-market-data {
        margin-left: 22%;
    }
    .bage-score {
        height: 87px;
        width: 87px;
        padding-top: 13%;
        margin-top: -11%;
        margin-right: 0;
    }

    .ticker-action{
        margin-top: 20%;
    }

}