#ticker-info-modal .list-group-item{
    display: flex;
    justify-content: space-between;
}

.page-title-heading:hover{
    cursor: pointer;
}

.page-logo,
.page-fmp-data,
.page-market-data,
.page-ticket-info{
    width: 25%;
}

.page-fmp-data{
    margin-left: -3%;
}

.modal-ticker-logo .menu__link.article-link {
    font-size: 20px;
    color: #4183c4;
    padding-top: 15%;
    text-align: center;
    margin-right: 10px;
}

.page-fmp-data .div-content{
    top: 4%;
    width: 12%;
}

.page-fmp-data .div-content span{
    float: right;
    font-size: smaller;
}

.fmp-price-content{
    font-size: larger;
    font-weight: 900;
    border-bottom: 1px solid;
}

.spinner-border{
    margin-right: 55%;
}

.page-market-data{
    display: flex;
    margin-left: -2%;
}

.bage-score{
    height: 101px;
    width: 150px;
    text-align: center;
    padding-top: 7%;
    font-size: x-large;
    color: #fff;
    border-radius: 2rem;
    margin-top: 1%;
    margin-right: 6%;
}

.ticket-info-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
}

.ticket-info-val{
    width: 60%;
}

.ticket-info-title{
    font-weight: 600;
}

.page-ticket-info{
    margin-left: 5%;
}

.score-title{
    margin-top: 12%;
    font-size: medium;
}

.ticker-data{
    width: 155px;
    text-align: inherit;
}

.ticker-data span{
    float: right;
}

.help-cursor{
    cursor: help;
}

.add-candidate,
.candidate-in-list{
    width:60%;
}

.ticker-action .div-content{
    position: inherit;
}

.ticker-action  .div-loading .spinner-border {
    width: 1.5rem;
    height: 1.5rem;
}

.ticker-info{
    padding: 0px 30px 0 !important;
}

.ticker-info .app-page-title {
    padding: 10px !important;
    margin: -30px 0px 15px !important;
}

.ticket-info-tabs .card-header ul{
    font-size: large;
}

.text-small{
    font-size: smaller;
}

#tab-news .btn-primary {
    background-color: #5d87f4;
    border-color: #5d87f4;
}

#tab-news .btn-primary.active{
    background-color: #2651be;
    border-color: #244cb3;
}

#tab-news .btn-group label{
    width: 50px;
}

.menu__link {
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
    color: #23262E;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
}

.menu__link::after {
    content: '';
    position: absolute;
    width: 0;
    opacity: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #2F327D;
    transition: width 0.2s 0s linear, opacity 0.2s 0.2s linear;
}

.menu__link:hover::after {
    content: '';
    position: absolute;
    color: #23262E;
    width: 100%;
    opacity: 1;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #2F327D;
    transition: width 0.2s 0.2s linear, opacity 0.2s 0.2s linear;
}


.ticket-info-tabs .div-loading{
    height: 100%;
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 50%;
    opacity: 0.7;
    z-index: 99;
}

.ticket-info-tabs  .div-content{
    position: relative;
}

.menu__link.article-link{
    font-size: 11px;
    color: #4183c4;
}

@media only screen and (max-width: 991.80px){
    .app-page-title .page-title-heading, .app-page-title .page-title-wrapper {
        margin: 0 auto;
        display: flex;
    }

    .page-logo, .page-fmp-data, .page-market-data, .page-ticket-info {
        width: 35%;
    }
    .page-fmp-data{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .page-logo, .page-market-data{
        width: 40%;
    }
    .page-ticket-info {
        width: 100%;
        margin-top: 42%;
        margin-left: -79%;
    }
    .page-market-data {
        margin-left: 8%;
    }
    .ticker-exchsnge, .ticker-sector, .ticker-industry{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .page-logo .badge-warning{
        font-size: xx-small;
    }
    .market-data-actions{
        display: none;
    }
    .page-market-data {
        margin-left: 22%;
    }
    .bage-score {
        height: 87px;
        width: 87px;
        padding-top: 13%;
        margin-top: -11%;
        margin-right: 0;
    }

    .ticker-action{
        margin-top: 20%;
    }

}