{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% block page_title %}
Algotrader | Settings
{% endblock %}
{% macro user_info(user) %}
<table class="ui compact definition table">
    <tr>
        <td>Full name</td>
        <td>{{ '%s %s' % (user.first_name, user.last_name) }}</td>
    </tr>
    <tr>
        <td>Email address</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>Account type</td>
        <td>{{ user.role.name }}</td>
    </tr>
</table>
{% endmacro %}

{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-albums icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>User Algotrader Settings
                    <div class="page-title-subheading">Settings for Algotrader client.
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade active show">
            {% if current_user.subscription_type_id == 4 %}
            <form action="/algotradersettings/save_strategy_settings" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h2 style="font-size: large;" class="card-title">Trading settings </h2>
                        <div class="page-title-wrapper mt-3">
                            <div class="d-inline-flex">
                                <h5 style="font-size: medium;" class="card-title">Strategy </h5>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="algo_max_loss" class="">Max loss in %</label>
                                    <input title="Maximal Loss for position. Will be sold by market price"
                                           value="{{user_settings.algo_max_loss}}" name="algo_max_loss"
                                           id="algo_max_loss" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="algo_take_profit" class="">Take profit in %</label>
                                    <input title="Profit taker. At this profit trailing sell will be triggered with setted %"
                                           value="{{user_settings.algo_take_profit}}" name="algo_take_profit"
                                           id="algo_take_profit" type="text"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="algo_bulk_amount_usd" class="">Bulk size in USD</label>
                                    <input title="Maximal size of a bulk to buy"
                                           value="{{user_settings.algo_bulk_amount_usd}}" name="algo_bulk_amount_usd"
                                           id="algo_bulk_amount_usd" type="text"
                                           class="form-control"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="algo_trailing_percent" class="">Trail in %</label>
                                    <input title="Trailing with this percent when Profit is taken"
                                           value="{{user_settings.algo_trailing_percent}}" name="algo_trailing_percent"
                                           id="algo_trailing_percent" type="text"
                                           class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-check">
                                    <input title="Allow buying or only Stop/Profit"
                                           {%if user_settings.algo_allow_buy%}
                                           checked
                                           {% endif %}
                                           name="algo_allow_buy" id="algo_allow_buy" type="checkbox"
                                           class="form-check-input">
                                    <label for="algo_allow_buy" class="form-check-label">Allow buying</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-check">
                                    <input title="Allow selling"
                                           {%if user_settings.algo_allow_sell%}
                                           checked
                                           {% endif %}
                                           name="algo_allow_sell" id="algo_allow_sell" type="checkbox"
                                           class="form-check-input">
                                    <label for="algo_allow_sell" class="form-check-label">Allow selling</label>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="position-relative form-check">
                                    <input title="Allow using margin for account or only personal cash"
                                           {%if user_settings.algo_allow_margin%}
                                           checked
                                           {% endif %}
                                           name="algo_allow_margin" id="algo_allow_margin" type="checkbox"
                                           class="form-check-input">
                                    <label for="algo_allow_margin" class="form-check-label">Use margin for trade</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt-5">
                            <div class="col-md-4 input-group d-block">
                                <div class="pb-2">
                                    <label for="algo_portfolio_stoploss" class="form-check-label">Minimal NET allowed (Stop Loss):</label>
                                </div>
                                <div class="d-flex">
                                     <input title="minimal amount  for account - if less, all positions will be closed"
                                           value="{{user_settings.algo_portfolio_stoploss}}"
                                           name="algo_portfolio_stoploss"
                                           id="algo_portfolio_stoploss" type="text"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4 input-group d-block">
                                <div>
                                    <label for="algo_positions_for_swan" class="">Market fall safety (Black Swan):</label>
                                </div>
                                <div class="d-flex">
                                    <input title="Close Positions on market drop"
                                               {%if user_settings.algo_sell_on_swan%}
                                               checked
                                               {% endif %}
                                               data-toggle="toggle"
                                               data-onstyle="info"
                                               data-offstyle="off"
                                               name="algo_sell_on_swan" id="algo_sell_on_swan" type="checkbox"
                                               class="form-check-input">
                                    <input title="If during a day the S&P500 will fall lower than set - all the positions will be closed"
                                               value="{{user_settings.algo_positions_for_swan}}"
                                               name="algo_positions_for_swan"
                                               id="algo_positions_for_swan" type="text"
                                               class="form-control blackswan-change">
                                </div>
                                <div>
                                    <label class="pt-2 text-muted small filter-comment">
                                        With
                                        <span class="text-primary pr-2 pl-2 blackswan-min">{{user_settings.algo_positions_for_swan}}%</span>
                                        selected there were :
                                        <span class="text-primary pr-1 pl-2 link font-weight-bold show_modal_snp"><span class="bsw-loading"></span><span class="blackswan-events pr-1"></span> events in last 5 Years</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 input-group d-block">
                            <div>
                                <label for="algo_max_hold_days" class="">Maximal holding period (days):</label>
                            </div>
                            <div class="d-flex">
                                <input title="Sell if longer then configured perion and profit more than 2%"
                                           {%if user_settings.algo_apply_max_hold%}
                                           checked
                                           {% endif %}
                                           name="algo_apply_max_hold" id="algo_apply_max_hold"
                                           data-toggle="toggle"
                                           data-onstyle="info"
                                           data-offstyle="off"
                                           type="checkbox"
                                           class="form-check-input">
                                <input title="Maximal days" value="{{user_settings.algo_max_hold_days}}"
                                           name="algo_max_hold_days" id="algo_max_hold_days" type="text"
                                           class="form-control">
                            </div>
                        </div>
                        </div>
                    </div>
                    <button type="submit" class="mt-5 btn btn-primary">Save</button>
                </div>
            </form>
            {%endif%}
            <form action="/algotradersettings/save_filters_settings" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="page-title-wrapper">
                            <div class="d-inline-flex">
                                <h2 style="font-size: large;" class="card-title">Filters </h2>
                            </div>
                            <div class="pl-5 d-inline-flex">
                                <div role="group" class="btn-group btn-group-toggle form-group" data-toggle="buttons">
                                    {% for s in strategies %}
                                    <label class="strategy-btn btn btn-info {% if s.id == user_settings.strategy_id %} active {% endif %}">
                                        <input onchange="UpdateDefaultStrategy(this)" class="strategy-option" type="radio" name="options"
                                               id="options{{s.id}}" value="{{s.id}}" autocomplete="off">
                                        {{s.strategy}}
                                    </label>
                                    {% endfor %}
                                </div>
                                <input type="hidden" name="strategy_id" id="strategy_id"
                                       value="{{user_settings.strategy_id}}">
                            </div>
                        </div>
                        <div class="form-row pt-4">
                            <div class="col-md-6 input-group d-block">
                                <div>
                                    <label for="algo_min_algotrader_rank" class="">Min Analytics Algotrader</label>
                                </div>
                                <div class="d-flex">
                                    <input title="Use minimal Analytics Algotrader rank or transmit All"
                                               {%if user_settings.algo_apply_algotrader_rank%}
                                               checked
                                               {% endif %}
                                               data-toggle="toggle"
                                               data-onstyle="info"
                                               data-offstyle="off"
                                               name="algo_apply_algotrader_rank" id="algo_apply_algotrader_rank" type="checkbox"
                                               class="form-check-input">
                                    <input title="Minimal Analytics Algotrader rank to transmit to station"
                                           value="{{user_settings.algo_min_algotrader_rank}}" name="algo_min_algotrader_rank"
                                           id="algo_min_algotrader_rank" type="text"
                                           class="form-control strategy-change col-md-6">
                                    <label class="text-muted small filter-comment col-md-3">
                                        <span class="loading"></span>
                                        <span class="text-primary algo-rank-filter num-candidates"></span>
                                        <span class="fixed-filter-text pl-2"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 input-group d-block">
                                <div>
                                    <label for="algo_min_underprice" class="">Minimal underprice level %</label>
                                </div>
                                <div class="d-flex">
                                    <input title="Minimal Underprice- current price is lower than Yahoo analyst estimate in %"
                                               {%if user_settings.algo_apply_min_underprice%}
                                               checked
                                               {% endif %}
                                               data-toggle="toggle"
                                               data-onstyle="info"
                                               data-offstyle="off"
                                               name="algo_apply_min_underprice" id="algo_apply_min_underprice"
                                               type="checkbox"
                                               class="form-check-input strategy-change">
                                    <input title="Minimal allowed underprice: use negative for overpriced"
                                               value="{{user_settings.algo_min_underprice}}"
                                               name="algo_min_underprice" id="algo_min_underprice" type="text"
                                               class="form-control strategy-change col-md-6">
                                    <label class="text-muted small filter-comment col-md-3">
                                        <span class="loading"></span>
                                        <span class="text-primary underprice-filter num-candidates"></span>
                                        <span class="fixed-filter-text pl-2"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt-4">
                            <div class="col-md-6 input-group d-block">
                                <div>
                                    <label for="algo_min_momentum" class="">Minimal Momentum % </label>
                                </div>
                                <div class="d-flex">
                                    <input title="Last 12 Month momentum: stock got more expensive than 1Y ago in %"
                                               {%if user_settings.algo_apply_min_momentum%}
                                               checked
                                               {% endif %}
                                               data-toggle="toggle"
                                               data-onstyle="info"
                                               data-offstyle="off"
                                               name="algo_apply_min_momentum" id="algo_apply_min_momentum"
                                               type="checkbox"
                                               class="form-check-input strategy-change">
                                    <input title="Minimal allowed Momentum use negative for descending graph"
                                               value="{{user_settings.algo_min_momentum}}"
                                               name="algo_min_momentum" id="algo_min_momentum" type="text"
                                               class="form-control strategy-change col-md-6">
                                    <label class="text-muted small filter-comment col-md-3">
                                        <span class="loading"></span>
                                        <span class="text-primary momentum-filter num-candidates"></span>
                                        <span class="fixed-filter-text pl-2"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 input-group d-block">
                                <div>
                                    <label for="algo_min_beta" class="">Minimal Betta allowed</label>
                                </div>
                                <div class="d-flex">
                                    <input title="Minimal Betta allowed"
                                               {%if user_settings.algo_apply_min_beta%}
                                               checked
                                               {% endif %}
                                               data-toggle="toggle"
                                               data-onstyle="info"
                                               data-offstyle="off"
                                               name="algo_apply_min_beta" id="algo_apply_min_beta"
                                               type="checkbox"
                                               class="form-check-input strategy-change">
                                    <input title="Minimal Betta allowed"
                                               value="{{user_settings.algo_min_beta}}"
                                               name="algo_min_beta" id="algo_min_beta" type="text"
                                               class="form-control strategy-change col-md-6">
                                    <label class="text-muted small filter-comment col-md-3">
                                        <span class="loading"></span>
                                        <span class="text-primary beta-filter num-candidates"></span>
                                        <span class="fixed-filter-text pl-2"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt-4">
                            <div class="col-md-6 input-group d-block">
                                <div>
                                    <label for="algo_max_intraday_drop_percent" class="">Max intraday drop % </label>
                                </div>
                                <div class="d-flex">
                                    <input title="Max intraday drop of a last year allowed"
                                               {%if user_settings.algo_apply_max_intraday_drop_percent%}
                                               checked
                                               {% endif %}
                                               data-toggle="toggle"
                                               data-onstyle="info"
                                               data-offstyle="off"
                                               name="algo_apply_max_intraday_drop_percent" id="algo_apply_max_intraday_drop_percent"
                                               type="checkbox"
                                               class="form-check-input strategy-change">
                                    <input title="Max intraday drop of a last year allowed"
                                               value="{{user_settings.algo_max_intraday_drop_percent}}"
                                               name="algo_max_intraday_drop_percent" id="algo_max_intraday_drop_percent" type="text"
                                               class="form-control strategy-change col-md-6">
                                    <label class="text-muted small filter-comment col-md-3">
                                        <span class="loading"></span>
                                        <span class="text-primary intraday-filter num-candidates"></span>
                                        <span class="fixed-filter-text pl-2"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 input-group d-block">
                                <div>
                                    <label for="algo_min_emotion" class="">Minimal Emotion allowed</label>
                                </div>
                                <div class="d-flex">
                                    <input title="Minimal Market Emotion allowed"
                                               {%if user_settings.algo_apply_min_emotion%}
                                               checked
                                               {% endif %}
                                               data-toggle="toggle"
                                               data-onstyle="info"
                                               data-offstyle="off"
                                               name="algo_apply_min_emotion" id="algo_apply_min_emotion"
                                               type="checkbox"
                                               class="form-check-input strategy-change">
                                    <input title="Minimal Emotion allowed"
                                               value="{{user_settings.algo_min_emotion}}"
                                               name="algo_min_emotion" id="algo_min_emotion" type="text"
                                               class="form-control emotion-change col-md-6">
                                    <label class="text-muted small filter-comment col-md-3">
                                        <span class="emotion-loading"></span>
                                        <span class="text-primary link emotion-filter font-weight-bold"></span>
                                        <span class="emotion-fixed-filter-text pl-2"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt-4 d-flex justify-content-center">
                            <div>
                                <label class="text-muted h5 filter-comment">
                                    <span class="loading"></span>
                                    <span class="text-primary total-filter num-candidates"></span>
                                    <span class="fixed-total-filter-text"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="mt-5 btn btn-primary">Save</button>
                </div>
            </form>
            {% if current_user.subscription_type_id == 4 %}
            <form action="/algotradersettings/save_station_settings" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 style="font-size: large;" class="card-title">Station settings </h5>

                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="connection_port" class="">TWS port</label>
                                    <input title="Connect to TWS via that port- configured in TWS settings"
                                           value="{{user_settings.connection_port}}" name="connection_port"
                                           id="connection_port" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="connection_account_name" class="">IBKR account</label>
                                    <input title="Account name- can be seen at IBKR.com"
                                           value="{{user_settings.connection_account_name}}"
                                           name="connection_account_name" id="connection_account_name" type="text"
                                           class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="connection_tws_user" class="">TWS user</label>
                                    <input title="User name - to login to TWS automatically on restarts"
                                           value="{{user_settings.connection_tws_user}}" name="connection_tws_user"
                                           id="connection_tws_user" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="connection_tws_pass" class="">TWS password</label>
                                    <input title="Password - to login to TWS automatically on restarts"
                                           value="{{user_settings.connection_tws_pass}}" name="connection_tws_pass"
                                           id="connection_tws_pass" type="password"
                                           class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="server_url" class="">Server URL</label>
                                    <input title="Server to connect" value="{{user_settings.server_url}}"
                                           name="server_url" id="server_url"
                                           type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="server_report_interval_sec" class="">Server report interval</label>
                                    <input title="Interval to report to Server"
                                           value="{{user_settings.server_report_interval_sec}}"
                                           name="server_report_interval_sec" id="server_report_interval_sec" type="text"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-check">
                                    <input title="Use System Candidates or only personal " {%if
                                           user_settings.server_use_system_candidates%}
                                           checked
                                           {% endif %} name="server_use_system_candidates"
                                           id="server_use_system_candidates" type="checkbox"
                                           class="form-check-input">
                                    <label for="server_use_system_candidates" class="form-check-label">Use Admin
                                        Candidates</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="submit" class="mt-2 btn btn-primary">Save</button>
                </div>
            </form>
            {%endif%}
            <form action="/algotradersettings/save_notifications_settings" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h2 style="font-size: large;" class="card-title">Notification settings </h2>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-check">
                                    <input title="Notify on opening position"
                                           {%if user_settings.notify_buy%}
                                           checked
                                           {% endif %}
                                           name="notify_buy" id="notify_buy" type="checkbox"
                                           class="form-check-input">
                                    <label for="notify_buy" class="form-check-label">Notify buying</label>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="position-relative form-check">
                                    <input title="Notify on closed position"
                                           {%if user_settings.notify_sell%}
                                           checked
                                           {% endif %}
                                           name="notify_sell" id="notify_sell" type="checkbox"
                                           class="form-check-input">
                                    <label for="notify_sell" class="form-check-label">Notify selling</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-check">
                                    <input title="Notify on start Trailing"
                                           {%if user_settings.notify_trail%}
                                           checked
                                           {% endif %}
                                           name="notify_trail" id="notify_trail" type="checkbox"
                                           class="form-check-input">
                                    <label for="notify_trail" class="form-check-label">Notify trailing</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="mt-2 btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script>
    var reports = {{ reports|tojson }};
    var bsw_global = {{ global_snp|tojson }};
    </script>
</div>
{% endblock %}

{% block scripting %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
        integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/snp_graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/settings.js') }}"></script>
{% endblock %}

{% block modal %}
<div class="modal snp-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-bigger">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="blackswanModalTitle">S&P in last 5 years</h5>
                <button type="button" class="snp-modal-close close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="snp-flash"></div>
                <div class="mb-3 card">
                    <div class="card-header">
                        <ul class="nav nav-justified">
                            <li class="nav-item"><a data-toggle="tab" href="#snp-500-tab" class="nav-link active show">S&P 500</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#my-data-tab" class="nav-link">Portfolio Performance</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="snp-500-tab" role="tabpanel">
                                <div class="text-muted filter-comment col-md-3">
                                    <span class="text-primary blackswan-filter font-weight-bold"></span>
                                    <span class="blackswan-fixed-filter-text pl-2"></span>
                                </div>
                                <div id="blackswan_sp500" class="height-resize" style="width:100%;"></div>
                            </div>

                            <div class="tab-pane" id="my-data-tab" role="tabpanel">
                                <div id="reports_blackswan_sp500" class="height-resize" style="width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="blackswan-range-div" style="width:100%;">
                                    <label class="form-label" for="range">Market fall safety (Black Swan)</label>
                                    <div class="range-wrap">
                                        <div class="range-value" id="bsw-rangeV"></div>
                                        <input style="width:100%;" id="bsw-range" type="range" min="-8" max="0" value="{{user_settings.algo_positions_for_swan}}" step="0.1">
                                    </div>
                                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="save_black_swan()" class="btn btn-secondary btn-lg btn-block">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal emotion-modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-bigger">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emotionModalTitle">S&P with Market Emotion</h5>
                <button type="button" class="emotion-modal-close close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="flash"></div>
                <div class="mb-3 card">
                    <div class="card-header">
                        <ul class="nav nav-justified">
                            <li class="nav-item"><a data-toggle="tab" href="#emotion-tab" class="nav-link active show">S&P 500</a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#emotion-reports-tab" class="nav-link">Portfolio Performance</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="emotion-tab" role="tabpanel">
                                <div class="text-muted filter-comment col-md-3">
                    <span class="text-primary emotion-filter font-weight-bold"></span>
                    <span class="emotion-fixed-filter-text pl-2"></span>
                </div>
                                <div id="container_sp500" class="height-resize" style="width:100%;"></div>
                            </div>

                            <div class="tab-pane" id="emotion-reports-tab" role="tabpanel">
                                <div id="reports_emotion" class="height-resize" style="width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="emotion-range-div" style="width:100%;">
                    <label class="form-label" for="range">Emotion</label>
                    <div class="range-wrap">
                        <div class="range-value" id="rangeV"></div>
                        <input style="width:100%;" id="range" type="range" min="0" max="100" value="{{user_settings.algo_min_emotion}}" step="1">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="save_emotion()" class="btn btn-secondary btn-lg btn-block">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
