{% extends 'layouts/base_old.html' %}
{% block page_title %}
Algotrader | Settings
{% endblock %}


{% block content %}
<!--title row-->
<div class="row">
    <div class="col">
        <div class="card mt-lg-4 mb-3">
            <div class="bg-holder d-none d-lg-block bg-card" >
            </div>
            <!--/.bg-holder-->

            <div class="card-body position-relative">
              <div class="row">
                <div class="col-lg-8">
                  <h3>Today</h3>
                  <p class="mb-0">Market State</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!--Trading settings -managed account row-->
<div class="row">
    <div class="mb-2">
        <div class="card">
            <div class="card-header border-bottom">
                Trading
            </div>
            <div class="card-body pt-0">
                Table
            </div>
        </div>
    </div>

</div>
<!--Trading connection settings -managed account row-->
<div class="row">
    <div class="mb-2">
        <div class="card">
            <div class="card-header border-bottom">
                Connection
            </div>
            <div class="card-body pt-0">
                Table
            </div>
        </div>
    </div>
</div>
<!--Trading Notification fiter -everyone row-->
<div class="row">
    <div class="mb-2">
        <div class="card">
            <div class="card-header border-bottom">
                Alert filter
            </div>
            <div class="card-body pt-0">
                Table
            </div>
        </div>
    </div>

</div>
<!--notification -everyone row-->
<div class="row">
    <div class="mb-2">
        <div class="card">
            <div class="card-header border-bottom">
                Notification
            </div>
            <div class="card-body pt-0">
                Table
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripting %}

{% endblock %}

{% block modal %}

{% endblock %}
