{% extends 'layouts/base.html' %}

{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph1 icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Closed position Information
                    <div class="page-title-subheading">Detailed info on closed position.
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="column">

here the graph will come

    </div>

</div>
<script type="text/javascript">

</script>
{% endblock %}
