{% extends 'layouts/base.html' %}

{% block content %}
<div class="app-main__inner" xmlns="http://www.w3.org/1999/html">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-albums icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Download
                    <div class="page-title-subheading">Setting up a client station.
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="column">
        <h1>Windows</h1>

        <h2>Algotrader installation</h2>

        1. Download and install TWS Trader station. (Gateway can be used - but it have no AutoUpdate feature)<br>
        <a href="https://www.interactivebrokers.com/en/index.php?f=16040" target="_blank"><i class="nav-link-icon fa fa-download"> </i>Download TWS</a><br>
        2. Make sure to open API and set port as in the settings, remove precauctious message<br>

        3. Install Python 3.9 if needed <br>
                <a href="https://www.python.org/downloads/release/python-392/" target="_blank"><i class="nav-link-icon fa fa-download"> </i>Python 3.9</a><br>
        4. Download Algotrader package<br>
        <a href="/station/downloadzip" download ><i class="nav-link-icon fa fa-download"> </i>AlgoTrader Package</a><br>
        5. Unzip where feels good :)<br>
        6. Go to forder "twsapi" run : installWindows.bat<br>
        7. Ready! Launch with "win_start_all.bat"<br>

        <h2>Setting a PC</h2>
        <h4>Adding to Autostart</h4>
        1. Go to algotrader folder. Right-click win_start_all.bat, create shortcut. Cut/Copy it.<br>
        2. Go to C:\Users\Administrator\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup<br>
        3. Paste shortcut.<br>
        <h4>Setting Autorestart</h4>
        1. Open Task Scheduler<br>
        2. Create Basic task. Action: shutdown  Argument: /r<br>
        <h4>Setting AutoLogOn</h4>
        1. Right click on Start and select Run, type NetPLWiz and then press Enter.<br>
        2. Select User Account. Uncheck the option to ask for a password.<br>


        <h1>Linux</h1>

        <h2>Algotrader installation</h2>

        1. Download and install TWS Trader station. (Gateway can be used - but it have no AutoUpdate feature)<br>
        <a href="https://www.interactivebrokers.com/en/index.php?f=16040" target="_blank"><i class="nav-link-icon fa fa-download"> </i>Download TWS</a><br>
        2. Make sure to open API and set port as in the settings, remove precauctious message<br>
        4. Download Algotrader package<br>
        <a href="/station/downloadzip" download ><i class="nav-link-icon fa fa-download"> </i>AlgoTrader Package</a><br>
        5. Unzip <br>
        6. Go to forder "twsapi" make linux_install.sh executable<br>
        7. run : linux_install.sh<br>
        7. Ready! Launch with "linux_start_all.sh"<br>

        <h2>Setting a PC</h2>
        <h4>Adding to Autostart</h4>
        1. Go to Startup applications.Add new command.Select linux_start_all.sh<br>
        2. modify to format:    mate-terminal -e "bash -c PATHTOFILE"<br>
        3. create cron job for autorestart:<br>
        4. sudo crontab -e<br>
        5. 0 16   *   *   *    /sbin/shutdown -r<br>
        6. 0 7   *   *   *    /sbin/shutdown -r<br>
        7. it configures 2 daily restarts : mornig and before trade.<br>
        8.Ready<br>



    </div>
</div>

{% endblock %}
