{% extends 'layouts/base.html' %}

{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-albums icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Trader station
                    <div class="page-title-subheading">Last state of Algotrader station reported.
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        Coming soon....
    </div>
</div>
{% endblock %}
