{% extends 'layouts/base_old.html' %}
{% block page_title %}
Algotrader | Administration
{% endblock %}
{% block content %}
<!--title row-->
<div class="row">
    <div class="col">
        <div class="card mt-lg-4 mb-3">
            <div class="bg-holder d-none d-lg-block bg-card" >
            </div>
            <!--/.bg-holder-->

            <div class="card-body position-relative">
              <div class="row">
                <div class="col-lg-8">
                  <h3>Algotrader administration</h3>
                  <p class="mb-0">System</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!--Main part row-->
<div class="row">
    <div class="mb-2">
        <div class="card">
            <div class="card-header border-bottom">
                Algotrader Settings
            </div>
            <div class="card-body pt-0">
                Table
            </div>
        </div>
    </div>

</div>


{% endblock %}