{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui stackable grid container">
    <div class="sixteen wide tablet sixteen wide computer centered column">
        <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
            <i class="caret left icon"></i>
            Back to dashboard
        </a>
        <h2 class="ui header">
            MARKET DATA
            <div class="sub header">
                Market data from different sources.
            </div>
        </h2>

        <div class="ui menu">
            <div class="ui left search item">
                <div class="ui transparent icon input">
                    <input id="search-users" type="text" placeholder="Search data…">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        {# Use overflow-x: scroll so that mobile views don't freak out
        # when the table is too wide #}
        <div style="overflow-x: scroll;">
            <table class="ui searchable sortable unstackable selectable celled table">
                <thead>
                <tr>
                    <th>Refresh</th>
                    <th>Ticker</th>
                    <th>Average drop %</th>
                    <th>Average spread %</th>
                    <th>Algotrader Rank</th>
                    <th>Underpriced</th>
                    <th>12M Momentum</th>
                    <th>Target Mean price</th>
                    <th>1Y Max inday drop %</th>
                    <th>Beta</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                {% for m in marketdata %}
                <tr>
                    <td>
                        <button type="button" onclick="update_market_data('{{ m.ticker }}')"><i class="fa fa-refresh"></i></button>
                    </td>
                    <td>
                        <a href="{{url_for('candidates.info')}}?ticker_to_show={{ m.ticker }}">
                            {{ m.ticker }}
                        </a>
                    </td>
                    <td>{{ m.yahoo_avdropP|round(1, 'floor') }}</td>
                    <td>{{ m.yahoo_avspreadP|round(1, 'floor') }}</td>
                    <td>{{ m.algotrader_rank }}</td>
                    <td>{{ m.under_priced_pnt }}</td>
                    <td>{{ m.twelve_month_momentum }}</td>
                    <td>{{ m.target_mean_price }}</td>
                    <td>{{ m.max_intraday_drop_percent }}</td>
                    <td>{{ m.beta }}</td>
                    <td>{{ m.updated_server_time }}</td>


                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripting %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/spyder_project.js') }}"></script>
{% endblock %}