{% extends 'layouts/base.html' %}
{% block page_title %}
Users monitor
{% endblock %}
{% block content %}
<div class="ui stackable grid container">
    <div class="sixteen wide tablet sixteen wide computer centered column">
        <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
            <i class="caret left icon"></i>
            Back to dashboard
        </a>
        <h2 class="ui header">
            Users monitor
            <span class="sub header">
                Monitoring users data.
            </span>
        </h2>

        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
{
"symbols": [
{
  "proName": "FOREXCOM:SPXUSD",
  "title": "S&P 500"
},
{
  "proName": "FOREXCOM:NSXUSD",
  "title": "Nasdaq 100"
},
{
  "proName": "FX_IDC:EURUSD",
  "title": "EUR/USD"
},
{
  "proName": "BITSTAMP:BTCUSD",
  "title": "BTC/USD"
}
],
"colorTheme": "light",
"isTransparent": false,
"showSymbolLogo": false,
"locale": "en"
}
</script>
        </div>

        <div class="ui menu">
            <div class="ui left search item">
                <div class="ui transparent icon input">
                    <input id="search-users" type="text" placeholder="Search data…">
                    <i class="search icon"></i>
                </div>
            </div>
            <div id="emotion_box" class="ui left last-item item">
                <div class="widget-content-outer">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left pr-2 fsize-1">
                            <div class="widget-numbers mt-0 fsize-2 text-{{fgi_text_color}}">
                                {{ market_emotion.fgi_value}}
                            </div>
                        </div>
                        <div class="widget-content-right w-100">
                            <div class="progress-bar-sm progress-bar-animated-alt progress emotion-progress-bar">
                                <div class="progress-bar bg-{{fgi_text_color}}" role="progressbar" aria-valuenow="{{ market_emotion.fgi_value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ market_emotion.fgi_value }}%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content-left fsize-20 market-emotion">
                        <div class="text-muted opacity-10 ">Market Emotion</div>
                        <div class="text-muted opacity-2 emotion-update-time">{{ market_emotion.score_time.strftime("%d %b, %Y %H:%M:%S") }}</div>
                    </div>
                </div>
            </div>
        </div>

        {# Use overflow-x: scroll so that mobile views don't freak out
        # when the table is too wide #}
        <div style="overflow-x: scroll;">
            <table class="ui searchable sortable unstackable selectable celled table">
                <thead>
                <tr>
                    <th>Restart</th>
                    <th>User email</th>
                    <th class="text-center">User<br/> status</th>
                    <th class="text-center">Market data<br/> status</th>
                    <th class="text-center">TWS<br/> status</th>
                    <th>Margin</th>
                    <th>SMA</th>
                    <th>PnL</th>
                    <th>NET</th>
                    <th class="text-center">Open<br/> positions</th>
                    <th>Started time</th>
                    <th class="text-center">Client<br/> version</th>
                </tr>
                </thead>
                <tbody>
                {% for u in users %}
                <tr>
                    <td class="text-center">
                        <form action="{{url_for('connections.log_restart_request')}}" method="post">
                            <input type="hidden" name="usersemail" value={{u["email"]}}>
                            <input type="hidden" name="fromadmin" value="1">
                            <button title="Restart station" type="submit"><i class="fa fa-retweet"></i></button>
                        </form>
                    </td>
                    <td>
                        {{u["email"]}}
                    </td>
                    <td class="text-center">
                        {% if u["user_status"] %}
                        <i class="check icon green"></i>
                        {%else%}
                        <i class="times icon red"></i>
                        {%endif%}
                    </td>
                    <td class="text-center text-danger">
                        {% if u["market_data_status"]%}
                        error
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if u["tws_status"] %}
                        <i class="check icon green"></i>
                        {%else%}
                        <i class="times icon red"></i>
                        {%endif%}
                    </td>
                    <td class="text-center">
                        {% if u["margin"] %}
                        <i class="check icon text-secondary"></i>
                        {%endif%}
                    </td>
                    <td>$ {{ u["sma"] |round |int}}</td>
                    <td class="{{u['pnl_class']}}">$ {{ u["pnl"] |round |int }}</td>
                    <td>$ {{ u["net"] |round |int }}</td>
                    <td>{{ u["num_of_open_positions"] }}</td>
                    <td>{{u["started_time"]}}</td>
                    <td>{{u["client_version"]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripting %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pages/usersmonitor.js') }}"></script>
{% endblock %}
