<ul class="list-group">
    {% for d in data %}
        <li class="list-group-item">
            <div class="row gx-0 flex-between-center flex-fill">
                <div class="col-auto">
                    <img width="100" class="rounded img-fluid" src="{{d['image']}}" alt="">
                </div>
                <div class="col">
                    <div class="card-title"><ins>{{d['title']}}</ins></div>
                    <div class="fs--1">
                        {{d['text']}}
                    </div>
                </div>
                <div class="col-auto">
                    <div>
                        <a href="{{d['url']}}" target="_blank" class="">
                            {{d['site']}}
                        </a>
                    </div>
                    <div class="text-small">{{d['publishedDate']}}</div>
                    <div>
                        <a href="{{d['url']}}" target="_blank" class="">
                            Go to Article
                        </a>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>