{% if data|length > 0%}
<ul class="list-group">
    {% for d in data %}
        <li class="list-group-item">
            <div class="row gx-0 flex-between-center flex-fill d-flex">
                <div class="col-auto align-self-start">
                    <img width="100" class="rounded img-fluid" src="{{d['image']}}" alt="">
                    <div class="align-self-start d-lg-none">
                        <div>
                            <a href="{{d['url']}}" target="_blank" class="fs--1">
                                {{d['site']}}
                            </a>
                        </div>
                        <div class="fs--2">{{d['publishedDate']}}</div>
                        <div>
                            <a href="{{d['url']}}" target="_blank" class="fs--1">
                                Go to Article
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col ps-3 pe-5 bd-highlight">
                    <div class="card-title"><ins>{{d['title']}}</ins></div>
                    <div class="fs--1">
                        {{d['text']}}
                    </div>
                </div>
                <div class="col-md-2 align-self-start d-none d-lg-inline">
                    <div>
                        <a href="{{d['url']}}" target="_blank" class="fs--1">
                            {{d['site']}}
                        </a>
                    </div>
                    <div class="fs--2">{{d['publishedDate']}}</div>
                    <div>
                        <a href="{{d['url']}}" target="_blank" class="fs--1">
                            Go to Article
                        </a>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% else %}
<div class="text-center mt-n3">
    <p class="fallback fw-bold fs-1 text-400">Data Not Found.</p>
</div>
{% endif%}