<div class="modal-header" style="display: flex;">
    <div class="modal-ticker-logo" style="display: grid;">
        <img src="{{data.image}}" style="height:150px;padding-right: 10px;">
        <a class="ticker-web menu__link article-link" target="_blank" href="{{data['website']}}">{{data['website']| replace("http://www.", "")}}</a>
    </div>
    <div class="modal-ticker-description" style="width: 85%;">
        <div class="main-card mb-3 card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">Sector</h5>
                    </div>
                    <div>{{data['sector']}}</div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">Industry</h5>
                    </div>
                    <div>{{data['industry']}}</div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">CEO</h5>
                    </div>
                    <div>{{data['ceo']}}</div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">Employees</h5>
                    </div>
                    <div>{{data['fullTimeEmployees']}}</div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">ISIN</h5>
                    </div>
                    <div>{{data['isin']}}</div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">Address</h5>
                    </div>
                    <div>{{data['address']}}, {{data['city']}}, {{data['state']}}, {{data['zip']}}, {{data['country']}}</div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">Exchange</h5>
                    </div>
                    <div>{{data['exchangeShortName']}}</div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">Since</h5>
                    </div>
                    <div>{{data['ipoDate']}}</div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
<div class="modal-content">
    <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Description</h5>
                <p>
                    {{data['description']}}
                </p>
            </div>
        </div>
</div>