{% if data|length > 0%}
{% for d in data %}
<div class="col-md-4">
    <div class="m-1 border border-3">
        <div class="card-header d-flex justify-content-between" style="background: rgb(210 214 226 / 13%);">
            <div style="font-size: smaller;">{{d['date']}}</div>
            <div>{{d['calendarYear']}} - {{d['period']}}</div>
        </div>
        <div class="div-content pt-2 fs--1">
            <div class="d-flex justify-content-between pe-2 ps-4">
                <div>
                    Revenue
                </div>
                <div>
                    {{d['revenue']}}
                </div>
            </div>
            <div class="d-flex justify-content-between px-2">
                <div>
                    <span data-tooltip-id="55" class="info-icon pe-1 jb-tooltip-info jb-info-55 text-400">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    NET Income
                </div>
                <div>
                    {{d['netIncome']}}
                </div>
            </div>
            <div class="d-flex justify-content-between px-2">
                <div>
                    <span data-tooltip-id="3" class="info-icon pe-1 jb-tooltip-info jb-info-3 text-400">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    EPS
                </div>
                <div>
                    {{d['eps']|round(2)}}
                </div>
            </div>
            <div class="d-flex justify-content-between px-2">
                <div>
                    <span data-tooltip-id="2" class="info-icon pe-1 jb-tooltip-info jb-info-2 text-400">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    EBITDA ratio
                </div>
                <div>
                    {{d['ebitdaratio']|round(2)}}
                </div>
            </div>
            <div class="d-flex justify-content-between px-2">
                <div>
                    <span data-tooltip-id="54" class="info-icon pe-1 jb-tooltip-info jb-info-54 text-400">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    Gross Profit ratio
                </div>
                <div>
                    {{d['grossProfitRatio']|round(2)}}
                </div>
            </div>
            <div class="d-flex justify-content-between px-2">
                <div>
                    <a href="{{d['finalLink']}}" target="_blank" class="article-link">
                        <ins>See full</ins>
                    </a>
                </div>
            </div>
        </div>
        {% include 'layouts/loader.html' %}
    </div>
</div>
{% endfor %}
{% else %}
<div class="text-center mt-n3">
    <p class="fallback fw-bold fs-1 text-400">Data Not Found.</p>
</div>
{% endif%}
