{% if data|length > 0%}
<ul class="list-group list-group-flush">
    {% for d in data %}
        <li class="list-group-item">
            <div class="row gx-0 flex-between-center flex-fill d-flex">
                <div class="col pe-5">
                    <div class="card-title"><ins>{{d['title']}}</ins></div>
                    <div class="fs--2">
                        {{d['text']}}
                    </div>
                </div>
                <div class="col-md-auto fs--1 align-self-start pt-sm-2 pt-md-0">
                    {{d['date']}}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% else %}
<div class="text-center mt-n3">
    <p class="fallback fw-bold fs-1 text-400">Data Not Found.</p>
</div>
{% endif%}