                <div class="card-header">Tracked Candidates <span class="text-primary pr-2 pl-2"> {{ candidates|length }} </span>  Priority order : Algotrader Rank >
                    Underprice > Momentum>Beta
                </div>
<div id="tableExample" data-list='{"valueNames":["ticker","price","age"],"page":5,"pagination":true}'>
  <div class="table-responsive scrollbar">
    <table id="filtered_candidates_table" class="table table-hover table-striped fs--1 mb-0">
      <thead class="bg-200 text-900">
        <tr>
          <th class="sort" data-sort="ticker">Ticker</th>
          <th class="sort" data-sort="price">Price</th>
          <th class="sort text-center" data-sort="target">Buying Target</th>
          <th class="sort text-center" data-sort="score">Score</th>
          <th class="sort text-center" data-sort="underpriced">Underpriced %</th>
          <th class="sort text-center" data-sort="momentum">Momentum</th>
          <th class="sort text-center" data-sort="beta">Beta</th>

        </tr>
      </thead>
      <tbody class="list">
      {% for value in candidates %}
      {% if value['buying_target_price_fmp']>value['price'] %}
        <tr style="background-color: chartreuse;">
      {% else %}
        <tr>
      {% endif %}
          <td class="ticker">
               <a href="/candidates/info/{{value['ticker']}}">
                  {{value['ticker']}}
              </a>
          </td>
          <td class="price">{{value['price']}}</td>
          <td class="target text-center">{{value['buying_target_price_fmp']|round(2)}}</td>
          <td class="score text-center">{{value['algotrader_rank']}}</td>
          <td class="underpriced text-center">{{value['under_priced_pnt']}}</td>
          <td class="momentum text-center">{{value['twelve_month_momentum']|round(1)}}</td>
          <td class="beta text-center">{{value['beta']|round(2)}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>